table {  
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; /* Nicer font */
  font-size: 1em;
  border-collapse: 
  collapse; border-spacing: 0;
  width: 100%; 
}

td, th { 
  height: 20px;
  background: white;
} /* Make cells a bit taller */

th {
  color: white; 
  background: #007bff; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
  border: 1px solid#007bff;
}

.product {
  border: 1px solid rgb(223, 223, 223);
}

.bg-return {
  background:  rgb(255, 93, 93) !important;
  border: 1px solid rgb(255, 93, 93) !important;
}

.bg-delivery {
  background:  rgb(0, 175, 15) !important;
  border: 1px solid rgb(0, 175, 15) !important;
}

.border-bottom {
  border-bottom: 1px solid black;
  }

.border-top {
  border-top: 1px solid black;
  }
