{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<form method="POST">

    {% csrf_token %}
    
<h6 class="bg-warning text-black p-2 m-0"><strong>Åtgärdslistan</strong></h6>
<div class="row bg-dark text-white p-2 m-0">
  <div class="col-4">
    <label>Lägg till produkt från åtgärdslistan</label>
    <div class="form-row">
      <div class="col">
        <input type="text"  class="form-control form-control-sm" name="al1_amount" placeholder="Antal">
      </div>
      <div class="col">
        <input type="text"  class="form-control form-control-sm al_product" name="al1_product" placeholder="Produkt">
      </div>
      <div class="col">
        <input type="text"  class="form-control form-control-sm al_position" name="al1_position" placeholder="Position">
      </div>
       <div style="font-size:1.2em; color:#ffc107">
         <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
       </div>
    </div>
  </div>


  <div class="col-4">
    <label>Till produkt i Lagret</label>
    <div class="form-row">
      <div class="col">
        <input type="text"  class="form-control form-control-sm" name="al2_amount" placeholder="Antal">
      </div>
      <div class="col">
        <input type="text"  class="form-control form-control-sm al_product" name="al2_product" placeholder="Produkt">
      </div>
      <div class="col">
        <input type="text"  class="form-control form-control-sm al_position" name="al2_position" placeholder="Position">
      </div>
    </div>
  </div>
</div>

<div class="row bg-dark pl-4 pt-2 pb-2 m-0">
  <button type="submit" value="al12" name="al12" class="btn btn-sm btn-primary">Skicka</button>
</div>

<div class="row bg-dark text-white p-2 m-0">
  <div class="col-4">
    <label>Lägg till produkt från lagret</label>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control form-control-sm" name="al3_amount"  placeholder="Antal">
      </div>
      <div class="col">
        <input type="text" class="form-control form-control-sm al_product" name="al3_product" placeholder="Produkt">
      </div>
      <div class="col">
        <input type="text" class="form-control form-control-sm al_position" name="al3_position" placeholder="Position">
      </div>
       <div style="font-size:1.2em; color:#ffc107">
         <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
       </div>
    </div>
  </div>

  <div class="col-4">
    <label>Till produkt i åtgärdslistan</label>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control form-control-sm" name="al4_amount" placeholder="Antal">
      </div>
      <div class="col">
        <input type="text" class="form-control form-control-sm al_product" name="al4_product" placeholder="Produkt">
      </div>
      <div class="col">
        <input type="text" class="form-control form-control-sm al_position" name="al4_position" placeholder="Position">
      </div>
    </div>
  </div>
</div>

<div class="row bg-dark pl-4 pt-2 pb-2 m-0">
  <button type="submit" value="al34" name="al34" class="btn btn-sm btn-primary">Skicka</button>
</div>

  </form>

{% if success %}
<div class="row bg-success text-white p-2 m-0">
    <div class="col">
        {% for item in success %}
        <ul>
            <li>{{ item }}</li>
        </ul>
        {% endfor %}
    </div>
</div> 
{% endif %}
 
{% if errors %}
<div class="row bg-danger text-white p-2 m-0">
    <div class="col">
        {% for error in errors %}
        <ul>
            <li>{{ error }}</li>
        </ul>
        {% endfor %}
    </div>
</div> 
{% endif %}

<div class="row bg-dark text-white p-2 m-0">
  <div class="col-2">
    Antal
  </div>
  <div class="col-2">
    Produkt
  </div>
  <div class="col-2">
    Position
  </div>
</div>

  {% for product in al_products %}
<div class="row bg-light p-2 m-0">
  <div class="col-2">
    {{ product.amount }}
  </div>
  <div class="col-2">
    {{ product.product }}
  </div>
  <div class="col-2">
    {{ product.position }}
  </div>
</div>
  {% endfor %}


{% endblock %}

