<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="col">
        <form method="POST">

        {% csrf_token %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Information</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Kommentarer:</label>
                        {{ gather_note_form.comments }}
                        {% if gather_note_form.comments.help_text %}
                        <small id="commentsHelp" class="form-text text-muted">{{ gather_note_form.comments.help_text }}</small>
                        {% endif %}
                        {% if gather_note_form.comments.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.comments.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Plockad:</label>
                        {{ gather_note_form.gathered }}
                        {% if gather_note_form.gathered.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ gather_note_form.gathered.help_text }}</small>
                        {% endif %}
                        {% if gather_note_form.gathered.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ gather_note_form.gathered.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Pågående:</label>
                        {{ gather_note_form.ongoing }}
                        {% if gather_note_form.ongoing.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ gather_note_form.ongoing.help_text }}</small>
                        {% endif %}
                        {% if gather_note_form.ongoing.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ gather_note_form.ongoing.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="gn_products_container" class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Produkter</strong></h6>
            {{ gnp_formset.management_form }}
            {% for form in gnp_formset %}
            <div class="row text-muted pt-3 border-bottom">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Antal:</label>
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Produkt:</label>
                    {{ form.product }}
                    {% if form.product.help_text %}
                    <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                    {% endif %}
                    {% if form.product.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Ändring:</label>
                    {{ form.change }}
                    {% if form.change.help_text %}
                    <small id="changeHelp" class="form-text text-muted">{{ form.change.help_text }}</small>
                    {% endif %}
                    {% if form.change.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.change.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="row p-3">
            <div id="add_gn_product" class="btn btn-primary">Lägg till produkt</div>
        </div>


        <div class="row p-3">
            <button type="submit" class="btn btn-primary">Skapa plocksedel</button>
        </div>

        <div class="row p-3">
            <div id="testdiv" class="btn btn-primary">test</div>
        </div>

      </form>

    </div>



{% endblock %}


