<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}


<div class="col">
        <form method="POST">

        {% csrf_token %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Orderhändelse</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Order:</label>
                        {{ event_form.order }}
                        {% if event_form.order.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.order.help_text }}</small>
                        {% endif %}
                        {% if event_form.order.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.order.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Datum:</label>
                        {{ event_form.date }}
                        {% if event_form.date.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ event_form.date.help_text }}</small>
                        {% endif %}
                        {% if event_form.date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Fakturerad</label>
                        {{ event_form.invoiced }}
                        {% if event_form.invoiced.help_text %}
                        <small id="invoicedHelp" class="form-text text-muted">{{ event_form.invoiced.help_text }}</small>
                        {% endif %}
                        {% if event_form.invoiced.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.invoiced.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Leverans:</label>
                        {{ event_form.delivery_event }}
                        {% if event_form.delivery_event.help_text %}
                        <small id="delivery_eventHelp" class="form-text text-muted">{{ event_form.delivery_event.help_text }}</small>
                        {% endif %}
                        {% if event_form.delivery_event.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.delivery_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Retur:</label>
                        {{ event_form.return_event }}
                        {% if event_form.return_event.help_text %}
                        <small id="return_eventHelp" class="form-text text-muted">{{ event_form.return_event.help_text }}</small>
                        {% endif %}
                        {% if event_form.return_event.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.return_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Rest:</label>
                        {{ event_form.rest_event }}
                        {% if event_form.rest_event.help_text %}
                        <small id="rest_eventHelp" class="form-text text-muted">{{ event_form.rest_event.help_text }}</small>
                        {% endif %}
                        {% if event_form.rest_event.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.rest_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        <label>Pågående:</label>
                        {{ event_form.ongoing }}
                        {% if event_form.ongoing.help_text %}
                        <small id="ongoingHelp" class="form-text text-muted">{{ event_form.ongoing.help_text }}</small>
                        {% endif %}
                        {% if event_form.ongoing.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.ongoing.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        <label>Gått ut:</label>
                        {{ event_form.shipped }}
                        {% if event_form.shipped.help_text %}
                        <small id="shippedHelp" class="form-text text-muted">{{ event_form.shipped.help_text }}</small>
                        {% endif %}
                        {% if event_form.shipped.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.shipped.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        <label>Fraktpris inlagt:</label>
                        {{ event_form.price_on_shipping }}
                        {% if event_form.price_on_shipping.help_text %}
                        <small id="price_on_shippingHelp" class="form-text text-muted">{{ event_form.price_on_shipping.help_text }}</small>
                        {% endif %}
                        {% if event_form.price_on_shipping.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.price_on_shipping.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        <label>Plockad:</label>
                        {{ event_form.gathered }}
                        {% if event_form.gathered.help_text %}
                        <small id="gatheredHelp" class="form-text text-muted">{{ event_form.gathered.help_text }}</small>
                        {% endif %}
                        {% if event_form.gathered.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.gathered.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        <label>Plocksedel klar:</label>
                        {{ event_form.gather_note_done }}
                        {% if event_form.gather_note_done.help_text %}
                        <small id="gather_note_doneHelp" class="form-text text-muted">{{ event_form.gather_note_done.help_text }}</small>
                        {% endif %}
                        {% if event_form.gather_note_done.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.gather_note_done.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Följesedel klar:</label>
                        {{ event_form.delivery_note_done }}
                        {% if event_form.delivery_note_done.help_text %}
                        <small id="delivery_note_doneHelp" class="form-text text-muted">{{ event_form.delivery_note_done.help_text }}</small>
                        {% endif %}
                        {% if event_form.delivery_note_done.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.delivery_note_done.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Retursedel klar:</label>
                        {{ event_form.return_note_done }}
                        {% if event_form.return_note_done.help_text %}
                        <small id="return_note_doneHelp" class="form-text text-muted">{{ event_form.return_note_done.help_text }}</small>
                        {% endif %}
                        {% if event_form.return_note_done.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.return_note_done.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Avräknad:</label>
                        {{ event_form.counted }}
                        {% if event_form.counted.help_text %}
                        <small id="countedHelp" class="form-text text-muted">{{ event_form.counted.help_text }}</small>
                        {% endif %}
                        {% if event_form.counted.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.counted.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Avslutad:</label>
                        {{ event_form.completed }}
                        {% if event_form.completed.help_text %}
                        <small id="completedHelp" class="form-text text-muted">{{ event_form.completed.help_text }}</small>
                        {% endif %}
                        {% if event_form.completed.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.completed.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Information:</label>
                        {{ event_form.info }}
                        {% if event_form.info.help_text %}
                        <small id="infoHelp" class="form-text text-muted">{{ event_form.info.help_text }}</small>
                        {% endif %}
                        {% if event_form.info.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.info.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="product_container" class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Produkter</strong></h6>
            {{ oehp_formset.management_form }}
            {% for form in oehp_formset %}
            <div class="row text-muted pt-3 border-bottom">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Produkt:</label>
                        {{ form.product }}
                        {% if form.product.help_text %}
                        <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                        {% endif %}
                        {% if form.product.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Prislista:</label>
                    {{ form.price_list }}
                    {% if form.price_list.help_text %}
                    <small id="price_listHelp" class="form-text text-muted">{{ form.price_list.help_text }}</small>
                    {% endif %}
                    {% if form.price_list.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_list.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Typ:</label>
                    {{ form.price_type }}
                    {% if form.price_type.help_text %}
                    <small id="price_typeHelp" class="form-text text-muted">{{ form.price_type.help_text }}</small>
                    {% endif %}
                    {% if form.price_type.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Antal:</label>
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Hyra:</label>
                    {{ form.rent }}
                    {% if form.rent.help_text %}
                    <small id="rentHelp" class="form-text text-muted">{{ form.rent.help_text }}</small>
                    {% endif %}
                    {% if form.rent.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.rent.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Dagar:</label>
                    {{ form.days }}
                    {% if form.days.help_text %}
                    <small id="daysHelp" class="form-text text-muted">{{ form.days.help_text }}</small>
                    {% endif %}
                    {% if form.days.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.days.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Säljpris:</label>
                    {{ form.selling }}
                    {% if form.selling.help_text %}
                    <small id="sellingHelp" class="form-text text-muted">{{ form.selling.help_text }}</small>
                    {% endif %}
                    {% if form.selling.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.selling.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Efterarbete:</label>
                    {{ form.post_work }}
                    {% if form.post_work.help_text %}
                    <small id="post_workHelp" class="form-text text-muted">{{ form.post_work.help_text }}</small>
                    {% endif %}
                    {% if form.post_work.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.post_work.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Summa:</label>
                    {{ form.total_price }}
                    {% if form.total_price.help_text %}
                    <small id="total_priceHelp" class="form-text text-muted">{{ form.total_price.help_text }}</small>
                    {% endif %}
                    {% if form.total_price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.total_price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Konto:</label>
                    {{ form.account }}
                    {% if form.account.help_text %}
                    <small id="accountHelp" class="form-text text-muted">{{ form.account.help_text }}</small>
                    {% endif %}
                    {% if form.account.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.account.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Plockad:</label>
                    {{ form.picked_up }}
                    {% if form.picked_up.help_text %}
                    <small id="picked_upHelp" class="form-text text-muted">{{ form.picked_up.help_text }}</small>
                    {% endif %}
                    {% if form.picked_up.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.picked_up.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="btn btn-primary" id="add_product">Lägg till produkt</div>


        <div id="transport_container" class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Transport</strong></h6>
            {{ transport_formset.management_form }}
            {% for form in transport_formset %}
            <div class="row text-muted pt-3 border-bottom">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Transporttyp:</label>
                        {{ form.transport_type }}
                        {% if form.transport_type.help_text %}
                        <small id="transport_typeHelp" class="form-text text-muted">{{ form.transport_type.help_text }}</small>
                        {% endif %}
                        {% if form.transport_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.transport_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Orderevent:</label>
                    {{ form.order_event }}
                    {% if form.order_event.help_text %}
                    <small id="order_eventHelp" class="form-text text-muted">{{ form.order_event.help_text }}</small>
                    {% endif %}
                    {% if form.order_event.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.order_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Tid och datum:</label>
                    {{ form.time }}
                    {% if form.time.help_text %}
                    <small id="timeHelp" class="form-text text-muted">{{ form.time.help_text }}</small>
                    {% endif %}
                    {% if form.time.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.time.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Totalvikt:</label>
                    {{ form.total_weight }}
                    {% if form.total_weight.help_text %}
                    <small id="total_weightHelp" class="form-text text-muted">{{ form.total_weight.help_text }}</small>
                    {% endif %}
                    {% if form.total_weight.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.total_weight.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Pris:</label>
                    {{ form.price }}
                    {% if form.price.help_text %}
                    <small id="priceHelp" class="form-text text-muted">{{ form.price.help_text }}</small>
                    {% endif %}
                    {% if form.price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text-muted pt-3 border-bottom">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Transportbeskrivning:</label>
                        {{ form.goods_description }}
                        {% if form.goods_description.help_text %}
                        <small id="goods_descriptionHelp" class="form-text text-muted">{{ form.goods_description.help_text }}</small>
                        {% endif %}
                        {% if form.goods_description.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.goods_description.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Plocksedel</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ID:</label>
                        {{ event_form.gather_note }}
                        {% if event_form.gather_note.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.gather_note.help_text }}</small>
                        {% endif %}
                        {% if event_form.gather_note.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.gather_note.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div id="add_gather_note" class="btn btn-primary">Lägg till plocksedel</div>
                </div>
            </div>
            </div>
        </div>
            <div class="row p-3">
            <div id="testdiv" class="btn btn-primary">test</div>
        </div>


        <div class="row p-3">
            <button type="submit" class="btn btn-primary">Bekräfta ändring</button>
        </div>

      </form>



    </div>


{% endblock %}


