<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="col">
        <form method="POST">

        {% csrf_token %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Information</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm">
                    <div class="form-check">
                        {{ form.primary }}
                        <label class="form-check-label" for="exampleCheck1">Primär</label>
                        {% if form.primarys.help_text %}
                        <small id="primarysHelp" class="form-text text-muted">{{ form.primarys.help_text }}</small>
                        {% endif %}
                        {% if form.primarys.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.primarys.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text-muted pt-3">
                <div class="col">
                    <div class="form-group">
                        <label>Förnamn:</label>
                        {{ form.surname }}
                        {% if form.surnames.help_text %}
                        <small id="surnamesHelp" class="form-text text-muted">{{ form.surnames.help_text }}</small>
                        {% endif %}
                        {% if form.surnames.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.surnames.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Efternamn:</label>
                        {{ form.lastname }}
                        {% if form.lastnames.help_text %}
                        <small id="lastnamesHelp" class="form-text text-muted">{{ form.lastnames.help_text }}</small>
                        {% endif %}
                        {% if form.lastnames.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.lastnames.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text-muted pt-3">
                 <div class="col">
                    <div class="form-group">
                        <label>Tel:</label>
                        {{ form.phone_nr }}
                        {% if form.phone_nr.help_text %}
                        <small id="phone_nrHelp" class="form-text text-muted">{{ form.phone_nr.help_text }}</small>
                        {% endif %}
                        {% if form.phone_nr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.phone_nr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>               
                <div class="col">
                    <div class="form-group">
                        <label>Email:</label>
                        {{ form.email }}
                        {% if form.email.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.email.help_text }}</small>
                        {% endif %}
                        {% if form.email.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.email.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                        <div class="form-group">
                            <label>Customer:</label>
                            {{ form.customer }}
                            {% if form.customers.help_text %}
                            <small id="customersHelp" class="form-text text-muted">{{ form.customers.help_text }}</small>
                            {% endif %}
                            {% if form.customers.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.customers.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>

        {{ form.id }}

        <div class="row p-3">
            <button type="submit" class="btn btn-primary">Spara</button>
        </div>
        
           

      </form>

        

        

    </div>



{% endblock %}


