<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="col">
        <form method="POST">

        {% csrf_token %}
<div class="row mb-3">
        <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Kundinfo</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Kund:</label>
                        {{ form.customer }}
                        {% if form.customer.help_text %}
                        <small id="customerHelp" class="form-text text-muted">{{ form.customer.help_text }}</small>
                        {% endif %}
                        {% if form.customer.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.customer.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Projekt/Märke faktura:</label>
                        {{ form.project }}
                        {% if form.project.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ form.project.help_text }}</small>
                        {% endif %}
                        {% if form.project.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.project.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Adress</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Arbetsadress:</label>
                    {{ form.work_address }}
                    {% if form.work_address.help_text %}
                    <small id="adressHelp" class="form-text text-muted">{{ form.work_address.help_text }}</small>
                    {% endif %}
                    {% if form.work_address.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.work_address.errors.as_text }}</strong>
                    </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                    <label>Arbetsadress2:</label>
                    {{ form.work_address2 }}
                    {% if form.work_address2.help_text %}
                    <small id="adress2Help" class="form-text text-muted">{{ form.work_address2.help_text }}</small>
                    {% endif %}
                    {% if form.work_address2.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.work_address2.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Postnr:</label>
                        {{ form.work_postnr }}
                        {% if form.work_postnr.help_text %}
                        <small id="postnrHelp" class="form-text text-muted">{{ form.work_postnr.help_text }}</small>
                        {% endif %}
                        {% if form.work_postnr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.work_postnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Ort:</label>
                        {{ form.work_place }}
                        {% if form.work_place.help_text %}
                        <small id="placeHelp" class="form-text text-muted">{{ form.work_place.help_text }}</small>
                        {% endif %}
                        {% if form.work_place.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.work_place.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Övrig info</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        {{ form.additional_info }}
                        {% if form.additional_info.help_text %}
                        <small id="addition_infoHelp" class="form-text text-muted">{{ form.additional_info.help_text }}</small>
                        {% endif %}
                        {% if form.additional_info.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.additional_info.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row mb-3">
        <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Kontakt</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Beställare:</label>
                        {{ form.person_ordering }}
                        {% if form.person_ordering.help_text %}
                        <small id="tel_exchangeHelp" class="form-text text-muted">{{ form.person_ordering.help_text }}</small>
                        {% endif %}
                        {% if form.person_ordering.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.person_ordering.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    <div class="form-group">
                        <label>Beställare tel:</label>
                        {{ form.po_tel }}
                        {% if form.po_tel.help_text %}
                        <small id="tel_exchangeHelp" class="form-text text-muted">{{ form.po_tel.help_text }}</small>
                        {% endif %}
                        {% if form.po_tel.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.po_tel.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Vår referent:</label>
                        {{ form.our_referent }}
                        {% if form.our_referent.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.our_referent.help_text }}</small>
                        {% endif %}
                        {% if form.our_referent.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.our_referent.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h6 class="bg-warning bg-warning p-2 m-0"><strong>Datum</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Startdatum:</label>
                    {{ form.starting_time }}
                    {% if form.starting_time.help_text %}
                    <small id="payment_methodHelp" class="form-text text-muted">{{ form.starting_time.help_text }}</small>
                    {% endif %}
                    {% if form.starting_time.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.starting_time.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Estimerat slutdatum:</label>
                    {{ form.completion_time }}
                    {% if form.completion_time.help_text %}
                    <small id="payment_methodHelp" class="form-text text-muted">{{ form.completion_time.help_text }}</small>
                    {% endif %}
                    {% if form.completion_time.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.completion_time.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <label>Fakturerad tom:</label>
                    {{ form.invoiced_to }}
                    {% if form.invoiced_to.help_text %}
                    <small id="payment_termHelp" class="form-text text-muted">{{ form.invoiced_to.help_text }}</small>
                    {% endif %}
                    {% if form.invoiced_to.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.invoiced_to.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Pris</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Rabatt:</label>
                    {{ form.order_discount }}
                    {% if form.order_discount.help_text %}
                    <small id="order_discountHelp" class="form-text text-muted">{{ form.order_discount.help_text }}</small>
                    {% endif %}
                    {% if form.order_discount.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.order_discount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Prislista:</label>
                    {{ form.order_price_list }}
                    {% if form.order_price_list.help_text %}
                    <small id="order_price_listHelp" class="form-text text-muted">{{ form.order_price_list.help_text }}</small>
                    {% endif %}
                    {% if form.order_price_list.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.order_price_list.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row bg-light p-2 m-0">
            <button type="submit" class="btn btn-sm btn-primary">Skapa Order</button>
        </div>

      </form>

    </div>


{% endblock %}


