<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}


<div class="col">
        <form method="POST">

        {% csrf_token %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Kundinfo {{ customer_form.id }}</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Fortnox id:</label>
                        {{ customer_form.fortnox_id }}
                        {% if customer_form.fortnox_id.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ customer_form.fortnox_id.help_text }}</small>
                        {% endif %}
                        {% if customer_form.fortnox_id.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.fortnox_id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                    <div class="col-sm-3">
                    <div class="form-group">
                        <label>Namn:</label>
                        {{ customer_form.name }}
                        {% if customer_form.name.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ customer_form.name.help_text }}</small>
                        {% endif %}
                        {% if customer_form.name.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.name.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Org nr:</label>
                        {{ customer_form.orgnr }}
                        {% if customer_form.orgnr.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ customer_form.orgnr.help_text }}</small>
                        {% endif %}
                        {% if customer_form.orgnr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.orgnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Adress</strong></h6>
            <div class="row text-muted pt-3">

                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Adress:</label>
                    {{ customer_form.visiting_adress }}
                    {% if customer_form.visiting_adress.help_text %}
                    <small id="visiting_adressHelp" class="form-text text-muted">{{ customer_form.visiting_adress.help_text }}</small>
                    {% endif %}
                    {% if customer_form.visiting_adress.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.visiting_adress.errors.as_text }}</strong>
                    </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Adress2:</label>
                    {{ customer_form.visiting_adress2 }}
                    {% if customer_form.visiting_adress2.help_text %}
                    <small id="visiting_adress2Help" class="form-text text-muted">{{ customer_form.visiting_adress2.help_text }}</small>
                    {% endif %}
                    {% if customer_form.visiting_adress2.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.visiting_adress2.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row text-muted pt-3">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Postnr:</label>
                        {{ customer_form.visiting_postnr }}
                        {% if customer_form.visiting_postnr.help_text %}
                        <small id="visiting_postnrHelp" class="form-text text-muted">{{ customer_form.visiting_postnr.help_text }}</small>
                        {% endif %}
                        {% if customer_form.visiting_postnr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.visiting_postnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Ort:</label>
                        {{ customer_form.visiting_place }}
                        {% if customer_form.visiting_place.help_text %}
                        <small id="visiting_placeHelp" class="form-text text-muted">{{ customer_form.visiting_place.help_text }}</small>
                        {% endif %}
                        {% if customer_form.visiting_place.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.visiting_place.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Kontakt</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Växel:</label>
                        {{ customer_form.tel_exchange }}
                        {% if customer_form.tel_exchange.help_text %}
                        <small id="tel_exchangeHelp" class="form-text text-muted">{{ customer_form.tel_exchange.help_text }}</small>
                        {% endif %}
                        {% if customer_form.tel_exchange.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.tel_exchange.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Email:</label>
                        {{ customer_form.email }}
                        {% if customer_form.email.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ customer_form.email.help_text }}</small>
                        {% endif %}
                        {% if customer_form.email.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.email.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div id="referent_container" class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Referenter</strong></h6>
            {{ referent_formset.management_form }}
            {% for form in referent_formset %}
            <div class="row text-muted pt-3 border-bottom">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Förnamn:</label>
                        {{ form.surname }}
                        {% if form.surname.help_text %}
                        <small id="surnameHelp" class="form-text text-muted">{{ form.surname.help_text }}</small>
                        {% endif %}
                        {% if form.surname.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.surname.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                    <label>Efternamn:</label>
                    {{ form.lastname }}
                    {% if form.lastname.help_text %}
                    <small id="lastnameHelp" class="form-text text-muted">{{ form.lastname.help_text }}</small>
                    {% endif %}
                    {% if form.lastname.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.lastname.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                    <label>Tel:</label>
                    {{ form.phone_nr }}
                    {% if form.phone_nr.help_text %}
                    <small id="phone_nrHelp" class="form-text text-muted">{{ form.phone_nr.help_text }}</small>
                    {% endif %}
                    {% if form.phone_nr.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.phone_nr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                    <label>Email:</label>
                    {{ form.email }}
                    {% if form.email.help_text %}
                    <small id="ref_emailHelp" class="form-text text-muted">{{ form.email.help_text }}</small>
                    {% endif %}
                    {% if form.email.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.email.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="referent_customer_field">
                        {{ form.customer }}
                        </div>
                        {% if form.customer.help_text %}
                        <small id="customerHelp" class="form-text text-muted">{{ form.customer.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="btn btn-primary" id="add_referent">Lägg till referent</div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom pb-2 mb-0"><strong>Betalningsinfo</strong></h6>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Betalningsmetod:</label>
                    {{ customer_form.payment_method }}
                    {% if customer_form.payment_method.help_text %}
                    <small id="payment_methodHelp" class="form-text text-muted">{{ customer_form.payment_method.help_text }}</small>
                    {% endif %}
                    {% if customer_form.payment_method.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.payment_method.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Betalningsvillkor:</label>
                    {{ customer_form.payment_term }}
                    {% if customer_form.payment_term.help_text %}
                    <small id="payment_termHelp" class="form-text text-muted">{{ customer_form.payment_term.help_text }}</small>
                    {% endif %}
                    {% if customer_form.payment_term.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.payment_term.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <label>Kundrabatt:</label>
                    {{ customer_form.customer_discount }}
                    {% if customer_form.customer_discount.help_text %}
                    <small id="customer_discountHelp" class="form-text text-muted">{{ customer_form.customer_discount.help_text }}</small>
                    {% endif %}
                    {% if customer_form.customer_discount.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.customer_discount.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Fakturaadress:</label>
                    {{ customer_form.invoice_adress }}
                    {% if customer_form.invoice_adress.help_text %}
                    <small id="invoice_adressHelp" class="form-text text-muted">{{ customer_form.invoice_adress.help_text }}</small>
                    {% endif %}
                        {% if customer_form.invoice_adress.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ customer_form.invoice_adress.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Fakturaadress2:</label>
                    {{ customer_form.invoice_adress2 }}
                    {% if customer_form.invoic_adress2.help_text %}
                    <small id="invoice_adress2Help" class="form-text text-muted">{{ customer_form.invoice_adress2.help_text }}</small>
                    {% endif %}
                    {% if customer_form.invoice_adress2.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.invoice_adress2.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row text-muted pt-3">
                <div class="col-sm-4">
                    <div class="form-group">
                    <label>Postnr:</label>
                    {{ customer_form.invoice_postnr }}
                    {% if customer_form.invoice_postnr.help_text %}
                    <small id="invoice_postnrHelp" class="form-text text-muted">{{ customer_form.invoice_postnr.help_text }}</small>
                    {% endif %}
                    {% if customer_form.invoice_postnr.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.invoice_postnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Ort:</label>
                    {{ customer_form.invoice_place }}
                    {% if customer_form.invoice_place.help_text %}
                    <small id="invoice_placeHelp" class="form-text text-muted">{{ customer_form.invoice_place.help_text }}</small>
                    {% endif %}
                    {% if customer_form.invoice_place.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ customer_form.invoice_place.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row p-3">
            <button type="submit" class="btn btn-primary">Lägg till kund</button>
        </div>

      </form>



    </div>


{% endblock %}


