<!doctype html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Formsystem</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/dashboard.css' %}" rel="stylesheet">

    <!-- jquery UI stylesheet -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">
    
    <!-- Font Awesome stylesheet -->
    <link rel="stylesheet" href="{% static '/icons/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css' %}">

    <!-- jquery UI stylesheet -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui-timepicker-addon.css' %}">
    
    <!-- for jquery UI autocomplete -->
    <script src="{% static '/js/jquery-ui/external/jquery/jquery.js' %}"></script>

  </head>

  <body class="">

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand bg-dark" href="{% url 'index' %}">Formsys</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vyer</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="{% url 'customer_list' %}">Kunder</a>
                  <a class="dropdown-item" href="{% url 'return_receipts_list' %}">Mottagningskvittenser</a>
                  <a class="dropdown-item" href="{% url 'list_gather_notes' %}">Plocksedlar</a>
                  <a class="dropdown-item" href="{% url 'list_counting_notes' %}">Avräkningssedlar</a>
                  <a class="dropdown-item" href="{% url 'list_orders' %}">Ordrar</a>
                  <a class="dropdown-item" href="{% url 'action_list' %}">Åtgärdslistan</a>
                  <a class="dropdown-item" href="{% url 'inventory' %}">Lager</a>
                  <a class="dropdown-item" href="{% url 'invoices' %}">Fakturor</a>
                  <a class="dropdown-item" href="{% url 'list_order_events' %}">Orderhändelser</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rapporter</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="{% url 'write_off' %}">Avskrivningar</a>
                  <a class="dropdown-item" href="{% url 'transports' %}">Transporter</a>
                </div>
              </li>
            </ul>
              {% if user.is_authenticated %}
              <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{% url 'login' %}">{{ user.username }}</a>
                </li>
              </ul>
              <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{% url 'logout' %}">logga ut</a>
                </li>
              </ul>
              {% else %}
              <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{% url 'login' %}">logga in</a>
                </li>
              </ul>
              {% endif %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
              <input class="form-control mr-sm-2" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>

        <main role="main" class="p-4">
        {% block body_block %}
        {% endblock %}
        </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static '/js/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static '/js/jquery-ui/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/underscore-min.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>

  </body>
</html>
