<!DOCTYPE html>


{% extends 'pdf_base.html' %}
{% load staticfiles %}

{% block body_block %}

<h2>Avräkningssedel - {{ counting_note.id }}</h2>
<table>
    <thead>
      <tr>
        <th colspan="3" class="bg-return"><strong>Retur</strong></th>
        <th colspan="3" class="bg-return"><strong>{{ delivered }}</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td colspan="3"><strong>Kund: </strong> </br>
            {% for customer in customers %}
            {{ forloop.counter }} {{ customer }} </br>
            {% endfor %}
        </td>
          <td colspan="3"><strong>Pojekt: </strong> </br>
              {% for project in projects %}
              {{ forloop.counter }} {{ project }} </br>
              {% endfor %}
        </td>
      </tr>
      <tr>
          <td colspan="3"><strong>Adress: </strong> </br>
            {% for address in addresses %} 
                {{ forloop.counter }}
                {% for key, value in address.items %}
                    {{ value }} 
                {% endfor %}
                    </br>
            {% endfor %}
        </td>
      </tr>
      <tr>
        <td colspan="6"> </td>
      </tr>
      <tr>
        <td colspan="3" class="border-bottom" ><strong>Mottagningskvittens info: </strong></td>
        <td colspan="3" class="border-bottom" ><strong>kommentarer: </strong></td>
      </tr>
      <tr>
          <td colspan="3">{{ return_receipt_info|linebreaks }} </td>
          <td colspan="3">{{ comment|linebreaks }} </td>
      </tr>
      <tr>
          <td colspan="6" class="border-top"></td>
      </tr>
 
      <thead>
        <tr>
          <th colspan="1" class="bg-return">Antal</th>
          <th colspan="2" class="bg-return">Produkt</th>
          <th colspan="3" class="bg-return">kommentar</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td class="product" colspan"1">{{ product.amount }}</td>
          <td class="product" colspan="2">{{ product.product }}</td>
          <td class="product" colspan="3">{{ product.change }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </tbody>
  </table>

{% endblock %}
