<!DOCTYPE html>

{% extends 'customer_info_base.html' %}
{% load staticfiles %}

{% block customer_info %}

{% if customer %}
    <div class="row p-2">
        <div id="customer_id" class="d-none">{{ customer.id }}</div>
        <div id="fnox_id" class="d-none">{{ customer.fortnox_id }}</div>

        <div class="p-2 col-sm-4">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Kundinfo - ID : {{ customer.id }} - FID: {{ customer.fortnox_id }} </strong></h6>
        <div class="row bg-gray p-2 m-0">
            <div id="sync_fnox_customer_info" class="btn btn-sm btn-primary">Hämta info från Fortnox</div>
        </div>
            <div class="col bg-light p-2">
                {% if customer.active %}
                    <p><div class="badge badge-success">Aktiv</div></p>
                {% else %}
                    <p><div class="badge badge-danger">Ej aktiv</div></p>
                {% endif %}
                {% if customer.customer_type == "Privat" %}
                    <p><div class="badge badge-primary">Privat</div></p>
                {% else %}
                    <p><div class="badge badge-warning">Företag</div></p>
                {% endif %}
                    <p><strong>Namn: </strong>{{ customer.name }}</p>
                    <p><strong>Org nr: </strong>{{ customer.orgnr }}</p>
                </div>
        </div>

        <div class="p-2 col-sm-4">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Besöksadress</strong></h6>
            <div class="col bg-light p-3">
              <p><strong>Adress1: </strong> {{ customer.visiting_address }}</p>
              <p><strong>Postnr: </strong>{{ customer.visiting_postnr }}</p>
              <p><strong>Ort: </strong>{{ customer.visiting_place }}</p>
              <p><strong>Land: </strong>{{ customer.visiting_country }}</p>
            </div>
        </div>

        <div class="p-2 col-sm-4">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Kontaktinfo</strong></h6>
            <div class="col bg-light p-3" >
                <p><strong>Tel1: </strong>{{ customer.tel1 }}</p>
                <p><strong>Tel2: </strong>{{ customer.tel2 }}</p>
                <p><strong>Fax: </strong>{{ customer.fax }}</p>
                <p><strong>Email: </strong>{{ customer.email }}</p>
                <p><strong>Web: </strong>{{ customer.web_address }}</p>
            </div>
        </div>

    </div>

        <div class="bg-light" id="referent_container">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Referenter</strong></h6>
        <div class="p-2 bg-gray">
            <button id="add_referent" class="btn btn-sm btn-primary">Lägg till</button>
        </div>
            {% if referents %}
            {% for referent in referents %}
        <div class="row p-2 ml-1 mr-1">
          <div class="col">
              {% if referent.primary %}
              <div class="badge badge-primary">Primär</div>
              {% else %}
              <div class="badge badge-dark">Sekundär</div>
              {% endif %}
          </div>
          <div class="col">
              <p><strong>Förnamn: </strong>{{ referent.surname }}</p>
          </div>
            <div class="col">
              <p><strong>Efternamn: </strong>{{ referent.lastname }}</p>
          </div>
            <div class="col">
              <p><strong>Tel: </strong>{{ referent.phone_nr }}</p>
          </div>
            <div class="col">
              <p><strong>Email: </strong>{{ referent.email }}</p>
          </div>
            <div class="col d-none">
              <strong id="referent_id_{{ forloop.counter0 }}">{{ referent.id }}</strong>
          </div>
          <button id="remove_referent_{{ forloop.counter0 }}" class="btn btn-sm btn-danger">Ta bort</button>
        </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="row mt-3">
        <div class="col-sm-4">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Betalinfo</strong></h6>
            <div class="col p-3 bg-light">
                <p><strong>Betalningsvillkor: </strong>{{ customer.payment_terms }}</p>
                <p><strong>Betalningsmetod: </strong>{{ customer.invoice_delivery }}</p>
                <p><strong>Kundrabbat: </strong>{{ customer.invoice_email }}</p>
                <p><strong>Fakturaadress: </strong>{{ customer.invoice_address }}</p>
                <p><strong>Fakturaadress2: </strong>{{ customer.invoice_address2 }}</p>
                <p><strong>Postnr: </strong> {{ customer.invoice_postnr }}</p>
                <p><strong>Ort: </strong>{{ customer.invoice_place }}</p>
                <p><strong>Land: </strong>{{ customer.invoice_country }}</p>
            </div>
        </div>
        </div>


{% else %}
no customer
{% endif %}

{% endblock %}


