<!DOCTYPE html>


{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        <div class="row bg-light mb-2 bt-2 p-2">
          <button id="sync_new_customers" class="btn btn-sm btn-primary">Hämta nya kunder från Fortnox</button>
            <div id="loading_wheel" class="row d-none">
            <div class="loader ml-3 mr-2"></div> 
            <div class=""><p class="text-center">Synkar kunder...</p></div>
          </div>
        </div>

          <div class="row">
              <div class="col-sm-12">
                <div class="row bg-warning text-black p-2">
                   Kunder
                </div>
                <div class="row bg-dark text-black p-2">
                   
                    <nav aria-label="Page navigation">
                        {% if customers.has_other_pages %}
                        <ul class="pagination m-0">
                          {% if customers.has_previous %}
                            <li class="page-item"><a class="page-link text-dark" href="?page={{ customers.previous_page_number }}">Previous</a></li>
                          {% else %}
                            <li class="disabled page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                          {% endif %}
                          {% for i in customers.paginator.page_range %}
                            {% if customers.number == i %}
                              <li class="active page-item border-warning"><a class="page-link bg-warning text-dark border-warning" href="#">{{ i }}</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          {% endfor %}
                          {% if customers.has_next %}
                            <li class="page-item"><a class="page-link text-dark" href="?page={{ customers.next_page_number }}">Next</a></li>
                          {% else %}
                            <li class="disabled page-item"><a class="page-link" href="#">Next</a></li>
                          {% endif %}
                        </ul>
                        {% endif %}
                    </nav>

                </div>
                <div class="row bg-dark text-white p-2">
                  <div class="col-sm-1">
                    ID:        
                  </div>
                  <div class="col-sm-4">
                    Namn
                  </div>
                  <div class="col-sm-4">
                      Org nr
                  </div>
                </div>
               {% for customer in customers %}
               <a href="{% url 'customer_info' customer.id %}" class="fill-div">
               <div class="row bg-light text-black border-bottom p-2">
                  <div class="col-sm-1">
                      {{ customer.fortnox_id }}
                  </div>
                  <div class="col-sm-4">
                        {{ customer.name }}
                  </div>
                  <div class="col-sm-4">
                      {{ customer.orgnr }}
                  </div>
              </div>
              </a>
                {% endfor %}
            </div>
          </div>



{% endblock %}