<!DOCTYPE html>


{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}


<nav class="navbar navbar-expand-lg navbar-light bg-dark p-0">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if navbar == 'info' %}active bg-warning {% endif %}">
        {% if customer %}
        <a class="nav-link text-white {% if navbar == 'info' %} text-dark {% endif %}" href="{% url 'customer_info' customer.id %}">Info</a>
          {% else %}
        <a class="nav-link " href="#">Info</a>
          {% endif %}
      </li>
      <li class="nav-item {% if navbar == 'order' %}active bg-warning {% endif %}">
        {% if customer %} 
        <a class="nav-link text-white {% if navbar == 'order' %}text-dark {% endif %}" href="{% url 'customer_orders' customer.id %}">Ordrar</a>
          {% else %}
          <a class="nav-link" href="#">Ordrar</a>
          {% endif %}
      </li>
    </ul>
  </div>
</nav>

<ul class="nav">
  <li class="nav-item">
   
  </li>
  <li class="nav-item">

  </li>
</ul>

            {% block customer_info %}
            {% endblock %}
 

{% endblock %}

</html>


