<!DOCTYPE html>

{% extends 'customer_info_base.html' %}
{% load staticfiles %}

{% block customer_info %}

          <a class="btn btn-success mt-4 mb-3" href="{% url 'add_order' customer.id %}">Skapa order</a>


<div class="container-fluid">
  
            <div class="row p-2 bg-dark text-white">
              <div class="col-sm-1">
                  <strong>Order nr:</strong>
              </div>
                <div class="col-sm-2">
                  <strong>Kund:</strong>
              </div>
                <div class="col-sm-2">
                  <strong>Projekt:</strong>
              </div>
              <div class="col-sm-2">
                  <strong>Starttid:</strong>
              </div>
              <div class="col-sm-2">
                  <strong>Estimerad sluttid:</strong>
              </div>
              <div class="col-sm-3">
                  <strong>Status:</strong>
              </div>
        </div>

            {% if orders %}
            {% for order in orders %}
        <a href="{% url 'order_info' order.id %}" class="fill-div">
            <div class="row p-2 bg-light border-bottom">
              <div class="col-sm-1">
                 {{ order.id }}
              </div>
                <div class="col-sm-2">
                  {{ order.customer }}
              </div>
              <div class="col-sm-2">
                  {{ order.project }}
              </div>
              <div class="col-sm-2">
                  {{ order.starting_time }}
              </div>
              <div class="col-sm-2">
                  {{ order.completion_time }}
              </div>
              <div class="col-sm-3">
                {% if order.ongoing %}
                <div class="badge badge-success">pågår</div>
                {% endif %}
                {% if order.completed %}
                <div class="badge badge-dark">Avslutad</div>
                {% endif %}
                {% if order.incomplete_order_event %}
                <div class="badge badge-danger">Ofullständig orderhändelse</div>
                {% endif %}
                {% if order.waiting %}
                <div class="badge badge-warning">Avvaktar</div>
                {% endif %}
              </div>
            </div>
        </a>
            {% endfor %}
        </div>
            {% else %}
              no orders
            {% endif %}

          <nav aria-label="Page navigation example">
            {% if customers.has_other_pages %}
            <ul class="pagination">
              {% if customers.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ customers.previous_page_number }}">Previous</a></li>
              {% else %}
                <li class="disabled page-item"><a class="page-link" href="#">Previous</a></li>
              {% endif %}
              {% for i in customers.paginator.page_range %}
                {% if customers.number == i %}
                  <li class="active page-item"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if customers.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}">Next</a></li>
              {% else %}
                <li class="disabled page-item"><a class="page-link" href="#">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
        </nav>

{% endblock %}


