<!DOCTYPE html>


{% extends 'pdf_base.html' %}
{% load staticfiles %}

{% block body_block %}

<table>
    <thead>
      <tr>
          <th colspan="5" class="bg-delivery"><strong>Följesedel - {{ delivery_note.id }}</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td colspan="3"><strong>Kund: </strong>{% if customer %}{{ customer }}{% endif %}</td>
        <td colspan="2"><strong>Order id: </strong>{% if order_id %}{{ order_id }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Leveransadress: </strong>{% if work_address %}{{ work_address }}{% endif %} {% if work_address2 %}{{ work_address2 }}{% endif %}, {% if work_postnr %}{{ work_postnr }}{% endif %}, {% if work_place %}{{ work_place }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Leveransdatum: </strong>{% if delivery_date %}{{ delivery_date|date:"Y-m-d H:i" }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Projekt: </strong>{% if project %}{{ project }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Transporttyp: </strong>{% if transport_type %}{{ transport_type }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Beställare: </strong>{% if person_ordering %}{{ person_ordering }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Beställare tel: </strong>{% if po_tel %}{{ po_tel }}{% endif %}</td>
      </tr>
      <tr>
        <th colspan="5" class="bg-delivery">Övrig info</th>
      </tr>
      <tr>
        <td colspan="5">{{ other_info }} </td>
      </tr>
      <thead>
        <tr>
          <th colspan="2"class="bg-delivery">Antal</th>
          <th colspan="3" class="bg-delivery">Produkt</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td class="product" colspan="2">{{ product.amount }}</td>
          <td class="product" colspan="3">{{ product.product }}</td>
        </tr>
        {% endfor %}
      <tr>
          <td colspan="5" class="border-top"></td>
      </tr>
      <tr>
          <td colspan="5">____________________________</td>
      </tr>
      <tr>
          <td colspan="5">Underskrift</td>
      </tr>
 
      </tbody>
    </tbody>
  </table>

{% endblock %}
