<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        <form method="POST">

        {% csrf_token %}
        
        <input id="return_receipt_id" name="return_receipt_id" value="{{ return_receipt_id }}" type="hidden">
        <div id="rr_container" class="row mb-3">
            <div class="col-6">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Mottagningskvittens: {{ return_receipt_id }}</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col-6">
                    <div class="form-group">
                        <label>Datum</label>
                        {{ form.datetime }}
                        {% if form.datetime.help_text %}
                        <small id="datetimeHelp" class="form-text text-muted">{{ form.datetime.help_text }}</small>
                        {% endif %}
                        {% if form.datetime.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.datetime.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                    <label>Kund</label>
                    {{ form.customer }}
                    {% if form.customer.help_text %}
                    <small id="customerHelp" class="form-text text-muted">{{ form.customer.help_text }}</small>
                    {% endif %}
                    {% if form.customer.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.customer.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Projekt</label>
                    {{ form.project }}
                    {% if form.project.help_text %}
                    <small id="projectHelp" class="form-text text-muted">{{ form.project.help_text }}</small>
                    {% endif %}
                    {% if form.project.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.project.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                        <div class="form-group">
                            <label>Avräkningssedel:</label>
                            {{ form.counting_note }}
                            {% if form.counting_notes.help_text %}
                            <small id="counting_notesHelp" class="form-text text-muted">{{ form.counting_notes.help_text }}</small>
                            {% endif %}
                            {% if form.counting_notes.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.counting_notes.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col d-none">
                    <div class="form-group">
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
              </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                            <label>Info:</label>
                    {{ form.info }}
                    {% if form.info.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.info.help_text }}</small>
                    {% endif %}
                    {% if form.info.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.info.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-6 bg-light p-2">
            <button type="submit" class="btn btn-sm btn-success">Spara</button>
            <a href="{% url 'download_pdf' document_type return_receipt_id %}" id="print_return_receipt" class="btn btn-sm btn-primary ml-2">Skriv ut Mottagningskvittens</a>
            </div>
        </div>
        
           

      </form>


{% endblock %}


