<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="col">
        <form method="POST">

        {% csrf_token %}

<div class="row mb-3">
     <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Kundinfo</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Kund:</label>
                        {{ form.customer }}
                        {% if form.customer.help_text %}
                        <small id="customerHelp" class="form-text text-muted">{{ form.customer.help_text }}</small>
                        {% endif %}
                        {% if form.customer.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.customer.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                    <div class="form-group">
                        <label>Projekt:</label>
                        {{ form.project }}
                        {% if form.project.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ form.project.help_text }}</small>
                        {% endif %}
                        {% if form.project.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.project.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Status</strong></h6>
                <div id="add_order_badge_row" class="row bg-light p-2 m-0">
                {% if order.ongoing %}
                    <span class="badge badge-success">Pågående</span>
                {% endif %}
                {% if order.waiting %}
                    <span class="badge badge-warning">waiting</span>
                {% endif %}
                {% if order.completed %}
                    <span class="badge badge-dark">Avslutad</span>
                {% endif %}
                </div>
            <div class="row text-muted pt-3 d-none">
                <div class="col d-none">
                    <div class="form-group">
                        <label>Ofullständig orderhändelse:</label>
                        {{ form.incomplete_order_event }}
                        {% if form.incomplete_order_event.help_text %}
                        <small id="incomplete_order_eventHelp" class="form-text text-muted">{{ form.incomplete_order_event.help_text }}</small>
                        {% endif %}
                        {% if form.incomplete_order_event.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.incomplete_order_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <label>Pågående:</label>
                        {{ form.ongoing }}
                        {% if form.ongoing.help_text %}
                        <small id="ongoingHelp" class="form-text text-muted">{{ form.ongoing.help_text }}</small>
                        {% endif %}
                        {% if form.ongoing.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.ongoing.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <label>Avslutad:</label>
                        {{ form.completed }}
                        {% if form.completed.help_text %}
                        <small id="completedHelp" class="form-text text-muted">{{ form.completed.help_text }}</small>
                        {% endif %}
                        {% if form.completed.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.completed.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>


    <div class="row bg-light p-2 m-0">
        <div id="mark_as_waiting" class="btn btn-primary mr-2">Markera som avvakta</div>
        <div id="mark_as_completed" class="btn btn-primary mr-2">Markera som avslutad</div>
        <div id="mark_as_ongoing" class="btn btn-primary">Markera som pågående</div>
    </div>
            <div class="row bg-light p-2 m-0">
                <div class="col d-none">
                    <div class="form-group">
                        <label>Avvaktar:</label>
                        {{ form.waiting }}
                        {% if form.waiting.help_text %}
                        <small id="waitingHelp" class="form-text text-muted">{{ form.waiting.help_text }}</small>
                        {% endif %}
                        {% if form.waiting.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.waiting.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if order.waiting %}
                <div class="col">
                    <div class="form-group">
                        <label>Avvaktande orsak:</label>
                        {{ form.waiting_reason }}
                        {% if form.waiting_reason.help_text %}
                        <small id="waiting_reasonHelp" class="form-text text-muted">{{ form.waiting_reason.help_text }}</small>
                        {% endif %}
                        {% if form.waiting_reason.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.waiting_reason.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="col d-none">
                        <div class="form-group">
                            <label>Avvaktande orsak:</label>
                            {{ form.waiting_reason }}
                            {% if form.waiting_reason.help_text %}
                            <small id="waiting_reasonHelp" class="form-text text-muted">{{ form.waiting_reason.help_text }}</small>
                            {% endif %}
                            {% if form.waiting_reason.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.waiting_reason.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


    <div class="col-4">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Adress</strong></h6>
            <div class="row bg-light p-2 m-0">

                <div class="col">
                    <div class="form-group">
                    <label>Arbetsadress:</label>
                    {{ form.work_address }}
                    {% if form.work_address.help_text %}
                    <small id="adressHelp" class="form-text text-muted">{{ form.work_address.help_text }}</small>
                    {% endif %}
                    {% if form.work_address.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.work_address.errors.as_text }}</strong>
                    </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                    <label>Arbetsadress2:</label>
                    {{ form.work_address2 }}
                    {% if form.work_address2.help_text %}
                    <small id="adress2Help" class="form-text text-muted">{{ form.work_address2.help_text }}</small>
                    {% endif %}
                    {% if form.work_address2.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.work_address2.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Postnr:</label>
                        {{ form.work_postnr }}
                        {% if form.work_postnr.help_text %}
                        <small id="postnrHelp" class="form-text text-muted">{{ form.work_postnr.help_text }}</small>
                        {% endif %}
                        {% if form.work_postnr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.work_postnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label>Ort:</label>
                        {{ form.work_place }}
                        {% if form.work_place.help_text %}
                        <small id="placeHelp" class="form-text text-muted">{{ form.work_place.help_text }}</small>
                        {% endif %}
                        {% if form.work_place.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.work_place.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

<div class="row mb-3">
    <div class="col-3">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Övrig info</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        {{ form.additional_info }}
                        {% if form.additional_info.help_text %}
                        <small id="addition_infoHelp" class="form-text text-muted">{{ form.additional_info.help_text }}</small>
                        {% endif %}
                        {% if form.additional_info.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.additional_info.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    <div class="col-3">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Kontakt</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Beställare:</label>
                        {{ form.person_ordering }}
                        {% if form.person_ordering.help_text %}
                        <small id="tel_exchangeHelp" class="form-text text-muted">{{ form.person_ordering.help_text }}</small>
                        {% endif %}
                        {% if form.person_ordering.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.person_ordering.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Vår referent:</label>
                        {{ form.our_referent }}
                        {% if form.our_referent.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.our_referent.help_text }}</small>
                        {% endif %}
                        {% if form.our_referent.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.our_referent.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Tel beställare:</label>
                        {{ form.po_tel }}
                        {% if form.po_tel.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.po_tel.help_text }}</small>
                        {% endif %}
                        {% if form.po_tel.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.po_tel.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    <div class="col-3">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Datum</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Startdatum:</label>
                    {{ form.starting_time }}
                    {% if form.starting_time.help_text %}
                    <small id="payment_methodHelp" class="form-text text-muted">{{ form.starting_time.help_text }}</small>
                    {% endif %}
                    {% if form.starting_time.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.starting_time.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Estimerat slutdatum:</label>
                    {{ form.completion_time }}
                    {% if form.completion_time.help_text %}
                    <small id="payment_methodHelp" class="form-text text-muted">{{ form.completion_time.help_text }}</small>
                    {% endif %}
                    {% if form.completion_time.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.completion_time.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <label>Fakturerad tom:</label>
                    {{ form.invoiced_to }}
                    {% if form.invoiced_to.help_text %}
                    <small id="payment_termHelp" class="form-text text-muted">{{ form.invoiced_to.help_text }}</small>
                    {% endif %}
                    {% if form.invoiced_to.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.invoiced_to.errors.as_text }}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    <div class="col-3">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Prisinfo</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                    <label>Orderrabatt:</label>
                    {{ form.order_discount }}
                    {% if form.order_discount.help_text %}
                    <small id="order_discountHelp" class="form-text text-muted">{{ form.order_discount.help_text }}</small>
                    {% endif %}
                    {% if form.order_discount.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.order_discount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                 <div class="form-group">
                     <label>Prislista:</label>
                    {{ form.order_price_list }}
                    {% if form.order_price_list.help_text %}
                    <small id="order_price_listHelp" class="form-text text-muted">{{ form.order_price_list.help_text }}</small>
                    {% endif %}
                    {% if form.order_price_list.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.order_price_list.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                 </div>
            </div>
        </div>
    </div>
</div>



        <div class="row bg-light mt-3 p-2 m-0">
            <button type="submit" class="btn btn-success">Ändra order</button>
        </div>

      </form>

    </div>


{% endblock %}


