<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}



        <form method="POST">

        {% csrf_token %}
        
        <input id="order_event_id" name="order_event_id" value="{{ order_event_id }}" type="hidden">
    <div class="row">
        <div class="col-sm-6">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Orderhändelse info - ID: {{ order_event.id }}</strong></h6>
            <div class="row bg-gray p-2 m-0">
                    {% if order_event.delivery_event %}
                    <div id="badge_field" class="col">
                            <span id="delivery_event_badge" class="badge badge-primary">Leverans</span>
                            {% if order_event.ongoing %}
                            <span id="ongoing_badge" class="badge badge-success">Pågående</span>
                            {% else %}
                            <span id="ongoing_badge" class="badge badge-dark">Avslutad</span>
                            {% endif %}
                    
                        {% if order_event.products_invoiced %}
                            <span id="invoiced_badge" class="badge badge-success">Produkter Fakturerade</span>
                        {% else %}
                            <span id="invoiced_badge" class="badge badge-danger">Produkter ej fakturerade</span>
                        {% endif %}
                        {% if order_event.shipping_invoiced %}
                            <span id="invoiced_badge" class="badge badge-success">Frakt Fakturerad</span>
                        {% else %}
                            <span id="invoiced_badge" class="badge badge-danger">Frakt ej fakturerad</span>
                        {% endif %}
                        {% if order_event.start_event %}
                            <span id="start_event_badge" class="badge badge-warning">Starthändelse</span>
                        {% endif %}
                        </div>
                    {% endif %}
                    {% if order_event.return_event %}
                    <div id="badge_field" class="col">
                            <span id="return_badge" class="badge badge-primary">Retur</span>
                            {% if order_event.ongoing %}
                            <span id="ongoing_badge" class="badge badge-success">Pågående</span>
                            {% else %}
                            <span id="ongoing_badge" class="badge badge-dark">Avslutad</span>
                            {% endif %}

                         {% if order_event.products_invoiced %}
                            <span id="invoiced_badge" class="badge badge-success">Produkter Fakturerade</span>
                        {% else %}
                            <span id="invoiced_badge" class="badge badge-danger">Produkter ej fakturerade</span>
                        {% endif %}
                        {% if order_event.shipping_invoiced %}
                            <span id="invoiced_badge" class="badge badge-success">Frakt Fakturerad</span>
                        {% else %}
                            <span id="invoiced_badge" class="badge badge-danger">Frakt ej fakturerad</span>
                        {% endif %}
                        {% if order_event.end_event %}
                            <span id="end_event_badge" class="badge badge-warning">Sluthändelse</span>
                        {% endif %}

                        </div>
                    {% endif %}
                </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Order:</label>
                        {{ event_form.order }}
                        {% if event_form.order.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.order.help_text }}</small>
                        {% endif %}
                        {% if event_form.order.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.order.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Datum:</label>
                        {{ event_form.created_date }}
                        {% if event_form.created_date.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ event_form.created_date.help_text }}</small>
                        {% endif %}
                        {% if event_form.created_date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.created_date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text-muted pt-3 d-none">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.products_invoiced.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.products_invoiceable.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.shipping_invoiceable.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.shipping_invoiced.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.has_rent_date.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.start_event.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.end_event.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.delivery_event.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.return_event.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.rest_event.as_hidden }}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.ongoing.as_hidden }}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.shipped.as_hidden }}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.price_on_shipping.as_hidden }}
                    </div>
                </div>
            <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.gather_note_done.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.delivery_note_done.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.counted.as_hidden }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ event_form.completed.as_hidden }}
                    </div>
                </div>
            </div>

            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Information (intern):</label>
                        {{ event_form.info }}
                        {% if event_form.info.help_text %}
                        <small id="infoHelp" class="form-text text-muted">{{ event_form.info.help_text }}</small>
                        {% endif %}
                        {% if event_form.info.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.info.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
        <div id="transport_container" class="">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Transport</strong></h6>
            <div class="row bg-gray p-2 m-0">
                <div class="col">
               {% if order_event.price_on_shipping %}
                <div class="badge badge-success">Pris inlagd</div>
                {% else %}
                <div class="badge badge-danger">Pris ej inlagd</div>
                {% endif %}
                
                {% if order_event.delivery_event %}
                {% if order_event.shipped %}
                <div id="shipped_badge" class="badge badge-success">Levererad</div>
                {% else %}
                <div id="not_shipped_badge" class="badge badge-danger">Ej levererad</div>
                {% endif %}
                {% endif %}
                </div>
                <div class="col"></div>
                <div class="col">
                    <div id="calculate_weight" class="btn badge badge-primary p-1">Räkna ut vikt</div>
                </div>
                <div class="col"></div>
            </div>
            {{ transport_formset.management_form }}
            {% for form in transport_formset %}
            <div class="row text-muted pt-3 border-bottom d-none">
            <div class="col-sm-4">
                <div class="form-group">
                <label>Orderevent:</label>
                {{ form.order_event }}
                {% if form.order_event.help_text %}
                <small id="order_eventHelp" class="form-text text-muted">{{ form.order_event.help_text }}</small>
                {% endif %}
                {% if form.order_event.errors %}
                <div class="alert alert-danger">
                        <strong>{{ form.order_event.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Transporttyp:</label>
                        {{ form.transport_type }}
                        {% if form.transport_type.help_text %}
                        <small id="transport_typeHelp" class="form-text text-muted">{{ form.transport_type.help_text }}</small>
                        {% endif %}
                        {% if form.transport_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.transport_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                 <div class="col">
                    <div class="form-group">
                    <label>Tid och datum:</label>
                    {{ form.time }}
                    {% if form.time.help_text %}
                    <small id="timeHelp" class="form-text text-muted">{{ form.time.help_text }}</small>
                    {% endif %}
                    {% if form.time.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.time.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Totalvikt:</label>
                        {{ form.total_weight }}
                        {% if form.total_weight.help_text %}
                        <small id="total_weightHelp" class="form-text text-muted">{{ form.total_weight.help_text }}</small>
                        {% endif %}
                        {% if form.total_weight.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.total_weight.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    <label>Pris:</label>
                    {{ form.price }}
                    {% if form.price.help_text %}
                    <small id="priceHelp" class="form-text text-muted">{{ form.price.help_text }}</small>
                    {% endif %}
                    {% if form.price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        <label>Transportbeskrivning:</label>
                        {{ form.goods_description }}
                        {% if form.goods_description.help_text %}
                        <small id="goods_descriptionHelp" class="form-text text-muted">{{ form.goods_description.help_text }}</small>
                        {% endif %}
                        {% if form.goods_description.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.goods_description.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    {% if order_event.delivery_event %}
                    <div class="btn btn-sm btn-primary mt-3" id="mark_shipped_btn">Markera som levererad</div>
                    {% endif %}
                </div>
                <div class="col d-none">
                    <div class="form-group">
                    <label>id:</label>
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

        
        <div id="product_container" class="mt-4">
            <h6 class="bg-warning text-dark p-2 m-0"><strong>Produkter</strong></h6>
            <div class="row bg-gray p-2 m-0">
                <div class="col">
                    {% if order_event.has_rent_date %}
                    <div class="badge badge-success">Uthyrningsdatum inlagt</div>
                    {% else %}
                    <div class="badge badge-danger">Uthyrningsdatum ej inlagt</div>
                    {% endif %}
                </div>
            </div>
            <div class="row bg-light p-2 m-0">
                {% if order_event.return_event %}
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Uthyrning stopdatum</label>
                        {{ event_form.rent_stop_date }}
                        {% if event_form.rent_stop_date.help_text %}
                        <small id="rent_stop_dateHelp" class="form-text text-muted">{{ event_form.rent_stop_date.help_text }}</small>
                        {% endif %}
                        {% if event_form.rent_stop_date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.rent_stop_date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if order_event.delivery_event %}
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label>Uthyrning startdatum</label>
                        {{ event_form.rent_start_date }}
                        {% if event_form.rent_start_date.help_text %}
                        <small id="rent_start_dateHelp" class="form-text text-muted">{{ event_form.rent_start_date.help_text }}</small>
                        {% endif %}
                        {% if event_form.rent_start_date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.rent_start_date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row bg-light p-2 m-0">
                <div id="prodhead_product" class="col-2">
                    <label>Produkt:</label>
                </div>
                <div id="prodhead_price_list" class="col-1">
                    <label>Prislista:</label>
                </div>
                <div id="prodhead_price_type" class="col-1">
                    <label>Typ:</label>
                </div>
                <div id="prodhead_amount" class="col-1">
                    <label>Antal:</label>
                </div>
                <div id="prodhead_base" class="col-1">
                    <label>Grundhyra</label>
                </div>
                <div id="prodhead_price" class="col-1">
                    <label>Pris/Hyra (st/dag)</label>
                </div>
                <div id="prodhead_discount" class="col-1">
                    <label>Rabatt</label>
                </div>

                <div id="prodhead_total_price" class="col-1">
                    <label>Pris (1 dag)</label>
                </div>
                <div id="prodhead_total_price_per_month" class="col-2">
                    <label>Pris (30 dagar)</label>
                </div>
                <div class="col-1">
                    <label></label>
                </div>
            </div>
            {{ oehp_formset.management_form }}
            {% for form in oehp_formset %}
            <div class="row bg-light pt-2 pb-0 m-0">
                <div class="col-2">
                    <div class="form-group">
                        {{ form.product }}
                        {% if form.product.help_text %}
                        <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                        {% endif %}
                        {% if form.product.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.price_list }}
                    {% if form.price_list.help_text %}
                    <small id="price_listHelp" class="form-text text-muted">{{ form.price_list.help_text }}</small>
                    {% endif %}
                    {% if form.price_list.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_list.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.price_type }}
                    {% if form.price_type.help_text %}
                    <small id="price_typeHelp" class="form-text text-muted">{{ form.price_type.help_text }}</small>
                    {% endif %}
                    {% if form.price_type.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 d-none">
                        <div class="form-group">
                            {{ form.return_is_match }}
                            {% if form.return_is_match.help_text %}
                            <small id="return_is_matchHelp" class="form-text text-muted">{{ form.return_is_match.help_text }}</small>
                            {% endif %}
                            {% if form.return_is_match.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.return_is_match.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="form-group">
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group {% if form.base_is_default.initial == False %} border rounded border-danger {% endif %}">
                        {{ form.base }}
                        {% if form.base.help_text %}
                        <small id="baseHelp" class="form-text text-muted">{{ form.base.help_text }}</small>
                        {% endif %}
                        {% if form.base.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.base.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-1 d-none">
                        <div class="form-group  ">
                            {{ form.base_is_default }}
                            {% if form.base_is_default.help_text %}
                            <small id="base_is_defaultHelp" class="form-text text-muted">{{ form.base_is_default.help_text }}</small>
                            {% endif %}
                            {% if form.base_is_default.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.base_is_default.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="form-group {% if form.price_is_default.initial == False %} border rounded border-danger {% endif %}">
                    {{ form.price }}
                    {% if form.price.help_text %}
                    <small id="priceHelp" class="form-text text-muted">{{ form.price.help_text }}</small>
                    {% endif %}
                    {% if form.price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                        <div class="form-group {% if form.discount_is_default.initial == False %} border rounded border-danger {% endif %}">
                        {{ form.discount }}
                        {% if form.discount.help_text %}
                        <small id="discountHelp" class="form-text text-muted">{{ form.discount.help_text }}</small>
                        {% endif %}
                        {% if form.discount.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.discount.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-1 d-none">
                        <div class="form-group">
                        {{ form.discount_is_default }}
                        {% if form.discount_is_default.help_text %}
                        <small id="discount_is_defaultHelp" class="form-text text-muted">{{ form.discount_is_default.help_text }}</small>
                        {% endif %}
                        {% if form.discount_is_default.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.discount_is_default.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-1 d-none">
                            <div class="form-group">
                            {{ form.price_is_default }}
                            {% if form.price_is_default.help_text %}
                            <small id="price_is_defaultHelp" class="form-text text-muted">{{ form.price_is_default.help_text }}</small>
                            {% endif %}
                            {% if form.price_is_default.errors %}
                            <div class="alert alert-danger">
                                    <strong>{{ form.price_is_default.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.total_price }}
                    {% if form.total_price.help_text %}
                    <small id="total_priceHelp" class="form-text text-muted">{{ form.total_price.help_text }}</small>
                    {% endif %}
                    {% if form.total_price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.total_price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.total_price_per_month }}
                    {% if form.total_price_per_month.help_text %}
                    <small id="total_price_per_monthHelp" class="form-text text-muted">{{ form.total_price_per_month.help_text }}</small>
                    {% endif %}
                    {% if form.total_price_per_month.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.total_price_per_month.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                    {{ form.account }}
                    {% if form.account.help_text %}
                    <small id="accountHelp" class="form-text text-muted">{{ form.account.help_text }}</small>
                    {% endif %}
                    {% if form.account.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.account.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col d-none">
                    <div class="form-group">
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="id_Help" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                        <div class="form-group">
                        {{ form.DELETE }}
                        {% if form.id.help_text %}
                        <small id="id_Help" class="form-text text-muted">{{ form.id.help_text }}</small>
                        {% endif %}
                        {% if form.id.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.id.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="btn btn-sm btn-primary" name="{{ forloop.counter0 }}" id="remove_product">Ta bort</div>
                </div>

                {% if form.return_is_match.initial == False %}
                <div id="not_match_flag_{{ forloop.counter0 }}" class="col-1">
                    <div style="font-size:1.4em; color:#dc3545">
                        <i data-toggle="tooltip" data-placement="top" title="Produkten matchar inte redan uthyrd produkt" class="fas fa-exclamation-circle"></i>
                    </div>
                </div>
                {% else %}
                <div id="not_match_flag_{{ forloop.counter0 }}" class="col-1">

                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        
        <div class="row bg-light p-3 m-0">
            <div class="btn btn-sm btn-primary" id="add_product">Lägg till produkt</div>
        </div>

        <div class="row justify-content-end bg-gray p-2 m-0">
            <div class="form-row align-items-end">
                <div class="col-auto {% if not order_event.delivery_event %} d-none {% endif %}">
                        {{ event_form.base_total_rent }}
                        {% if event_form.base_total_rent.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.base_total_rent.help_text }}</small>
                        {% endif %}
                        {% if event_form.base_total_rent.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.base_total_rent.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                </div>
                <div class="col-auto {% if not order_event.delivery_event %} d-none {% endif %}">
                        {{ event_form.base_total_forward }}
                        {% if event_form.base_total_forward.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.base_total_forward.help_text }}</small>
                        {% endif %}
                        {% if event_form.base_total_forward.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.base_total_forward.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                </div>
                <div class="col-auto">
                        {{ event_form.sum_total_sale }}
                        {% if event_form.sum_total_sale.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.sum_total_sale.help_text }}</small>
                        {% endif %}
                        {% if event_form.sum_total_sale.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.sum_total_sale.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                </div>
                <div class="col-auto">
                        {{ event_form.sum_total }}
                        {% if event_form.sum_total.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.sum_total.help_text }}</small>
                        {% endif %}
                        {% if event_form.sum_total.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.sum_total.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                </div>
                <div class="col-auto">
                        {{ event_form.sum_total_30 }}
                        {% if event_form.sum_total_30.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.sum_total_30.help_text }}</small>
                        {% endif %}
                        {% if event_form.sum_total_30.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.sum_total_30.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
                   
<div class="row mt-3">
        {% if order_event.delivery_event %}
        <div class="col-sm-6">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Plocksedel</strong></h6>
            <div class="row bg-gray p-2 m-0">
                <div class="col">
                    {% if order_event.gather_note.ongoing %}
                    <div class="badge badge-warning">Plockning pågår</div>
                    {% endif %}
                    {% if order_event.gather_note.gathered %}
                    <div class="badge badge-success">Plockning klar</div>
                    {% endif %}
                    {% if order_event.gather_note_done %}
                    <div id="gather_note_done_badge" class="badge badge-success">Plocksedel klar</div>
                    {% else %}
                    <div id="gather_note_not_done_badge"class="badge badge-danger">Plocksedel inte klar</div>
                    {% endif %}
                </div>
            </div>
           <div class="row bg-light p-2 m-0">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ID:</label>
                        {{ event_form.gather_note }}
                        {% if event_form.gather_note.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.gather_note.help_text }}</small>
                        {% endif %}
                        {% if event_form.gather_note.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.gather_note.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        <div id="add_gather_note_btn" class="btn btn-sm btn-primary">Skapa plocksedel</div>
                    </div>
                </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        <div id="edit_gather_note_btn" class="btn btn-sm btn-primary">Redigera plocksedel</div>
                    </div>
                </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        {% if order_event.gather_note.gathered and not order_event.gather_note_done %}
                        <div id="mark_gather_note_done_btn" class="btn btn-sm btn-primary">Markera plocksedel som klar</div>
                        {% endif %}
                        {% if order_event.gather_note_done %}
                        <div id="unmark_gather_note_done_btn" class="btn btn-sm btn-warning">Avmarkera plocksedel som klar</div>
                        {% endif %}
                    </div>
               </div>
        </div>
        {% endif %}
        
        {% if order_event.delivery_event %}
        <div class="col-sm-6">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Följesedel</strong></h6>
                <div class="row bg-gray p-2 m-0">
                    <div class="col">
                        {% if order_event.delivery_note_done %}
                        <div class="badge badge-success">Följesedel klar</div>
                        {% else %}
                        <div id="delivery_note_not_done_badge" class="badge badge-danger">Fljesedel inte klar</div>
                        {% endif %}
                    </div>
                </div>
               <div class="row bg-light p-2 m-0">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>ID:</label>
                            {{ event_form.delivery_note }}
                            {% if event_form.delivery_note.help_text %}
                            <small id="namnHelp" class="form-text text-muted">{{ event_form.delivery_note.help_text }}</small>
                            {% endif %}
                            {% if event_form.delivery_note.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ event_form.delivery_note.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        <div id="add_delivery_note_btn" class="btn btn-sm btn-primary">Skapa följesedel</div>
                    </div>
                </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        <div id="edit_delivery_note_btn" class="btn btn-sm btn-primary">Redigera följesedel</div>
                    </div>
                </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        <div id="mark_delivery_note_done_btn" class="btn btn-sm btn-primary">Markera följesedel som klar</div>
                    </div>
                </div>
        </div>
        {% endif %}

        {% if order_event.return_event %}
        <div class="col-sm-6">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Avräkningssedel</strong></h6>
                <div class="row bg-gray p-2 m-0">
                    <div class="col">
                        {% if order_event.counting_note.ongoing %}
                        <div class="badge badge-warning">Avräkning pågår</div>
                        {% endif %}
                        {% if order_event.counting_note.counted %}
                        <div class="badge badge-success">Avräkning gjord</div>
                        {% endif %}
                        {% if order_event.counted %}
                        <div class="badge badge-success">Avräknad</div>
                        {% else %}
                        <div id="not_counted_badge" class="badge badge-danger">Avräkning ej klar</div>
                        {% endif %}
                    </div>
                </div>
            <div class="row bg-light p-2 m-0">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ID:</label>
                        {{ event_form.counting_note }}
                        {% if event_form.counting_note.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ event_form.counting_note.help_text }}</small>
                        {% endif %}
                        {% if event_form.counting_note.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ event_form.counting_note.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col">
                        {% if order_event.counting_note %}
                        <div id="edit_counting_note_btn" class="btn btn-sm btn-primary">Redigera avräkningssedel</div>
                        {% endif %}
                    </div>
                </div>
                 <div class="row bg-light p-2 m-0">
                    <div class="col">
                    {% if order_event.counting_note.counted %}
                    <div id="mark_counted_btn" class="btn btn-sm btn-primary">Markera som avräknad</div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row ml-0 mr-0 mt-4">
        <div class="col d-flex bg-gray p-2 m-0">
            <button type="submit" class="btn btn-sm btn-success" name="save" value="save">Spara orderhändelse</button>
            <button type="submit" class="btn btn-sm btn-success ml-2" name="save_and_edit" value="save_and_edit">Spara och fortsätt redigera</button>
            <div id="mark_oe_as_end_event" class="btn btn-sm btn-primary ml-2">Markera som slutorderhändelse</div>
            <a class="ml-auto btn btn-sm btn-primary" href="{% url 'order_events' order_event.order.id %}">Tillbaka</a>
            {% if order_event.return_event and not order_event.end_event%}
            {% endif %}
        </div>
    </div>

      </form>


{% endblock %}


