<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        <form method="POST">
        {% csrf_token %}

        
        <input id="counting_note_id" name="counting_note_id" value="{{ counting_note.id }}" type="hidden">
        <div class="row mb-3">
            <div class="col">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Avräkningssedel - {{ counting_note.id }}</strong></h6>
                <div class="row bg-gray p-2 m-0">
                        <div class="col-12">
                            {% if counting_note.ongoing %}
                            <span id="ongoing_badge" class="badge badge-warning">Pågående</span>
                            {% endif %}
                            {% if counting_note.counted %}
                            <span id="counted_badge" class="badge badge-success">Avräknad</span>
                            {% endif %}
                        </div>
                    </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col-4 p-2 m-0">
                           <a href="{% url 'edit_return_receipt' counting_note.returnreceipt %}"><p><strong>Mottagningskvittens-ID:</strong>{{ counting_note.returnreceipt.id }}</p></a>
                           <p><strong>Kund:</strong> </br> 
                            {% for order_event in order_events %}
                             {{ forloop.counter }} {{ order_event.order.customer.name }} </br> 
                            {% endfor %}
                            </p>
                            <p><strong>Projekt:</strong> </br> 
                            {% for order_event in order_events %}
                            {{ forloop.counter }} {{ order_event.order.project }} </br>
                            {% endfor %} 
                            </p>
                            <p><strong>Mottaget:</strong> {{ counting_note.datetime|date:"Y-m-d H:i" }}</p>
                    </div>
                    <div class="col-4 p-2 m-0">
                        <label>Mottagningskvittens info:</label>
                        {{ return_receipt_info|linebreaks }}
                    </div>
                    <div class="col-4 p-2 m-0">
                        <div class="form-group d-none">
                            <label>Övergripande kommentarer:</label>
                            {{ counting_note_form.datetime }}
                            {% if counting_note_form.datetime.help_text %}
                            <small id="datetime" class="form-text text-muted">{{ counting_note_form.datetime.help_text }}</small>
                            {% endif %}
                            {% if counting_note_form.datetime.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.datetime.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                       <div class="form-group">
                            <label>Övergripande kommentarer:</label>
                            {{ counting_note_form.comment }}
                            {% if counting_note_form.comment.help_text %}
                            <small id="commentHelp" class="form-text text-muted">{{ counting_note_form.comment.help_text }}</small>
                            {% endif %}
                            {% if counting_note_form.comment.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.comment.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
 
                </div>
            </div>
        </div>

            {{ counting_note_form.ongoing.as_hidden }}
            {{ counting_note_form.counted.as_hidden }}

        <div id="cn_products_container">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Produkter</strong></h6>
            <div class="row bg-light p-2 m-0">
                    <div class="col-2">
                        <label>Produkt:</label>
                    </div>
                    <div class="col-1">
                        <label>Antal ute:</label>
                    </div>
                    <div class="col-1">
                        <label>Antal räknad:</label>
                    </div>
                    <div class="col-1">
                        <label>Antal kass:</label>
                    </div>
                    <div class="col-1">
                        <label>Typ:</label>
                    </div>
                    <div class="col-1">
                        <label>Position:</label>
                    </div>
                      <div class="col-1">
                        <label>Undantag:</label>
                    </div>
                     <div class="col-3">
                        <label>Kommentar:</label>
                    </div>
                     <div class="col-1">
                            <label></label>
                    </div>
                </div>
            {{ cnp_formset.management_form }}
            {% for form in cnp_formset %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    <div class="form-group">
                    {{ form.product }}
                    {% if form.product.help_text %}
                    <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                    {% endif %}
                    {% if form.product.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 amount_out">
                    <fieldset disabled>
                    <div class="form-group">
                        {{ form.amount_out }}
                        {% if form.amount_out.help_text %}
                        <small id="amount_out" class="form-text text-muted">{{ form.amount_out.help_text }}</small>
                        {% endif %}
                        {% if form.amount_out.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount_out.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    </fieldset>
                    <i class="amount_arrow fas fa-caret-square-right"></i>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        {{ form.bad_amount }}
                        {% if form.bad_amount.help_text %}
                        <small id="bad_amount" class="form-text text-muted">{{ form.bad_amount.help_text }}</small>
                        {% endif %}
                        {% if form.bad_amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.bad_amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                        {{ form.price_type }}
                        {% if form.price_type.help_text %}
                        <small id="price_type" class="form-text text-muted">{{ form.price_type.help_text }}</small>
                        {% endif %}
                        {% if form.price_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.price_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                        <div class="form-group">
                        {{ form.position }}
                        {% if form.position.help_text %}
                        <small id="positionHelp" class="form-text text-muted">{{ form.position.help_text }}</small>
                        {% endif %}
                        {% if form.position.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.position.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                </div>
                    <div class="col-1">
                        <div class="form-group">
                        {{ form.exception }}
                        {% if form.exception.help_text %}
                        <small id="exceptionHelp" class="form-text text-muted">{{ form.exception.help_text }}</small>
                        {% endif %}
                        {% if form.exception.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.exception.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                 </div>
                <div class="col-3">
                    <div class="form-group">
                    {{ form.comment }}
                    {% if form.comment.help_text %}
                    <small id="commentHelp" class="form-text text-muted">{{ form.comment.help_text }}</small>
                    {% endif %}
                    {% if form.comment.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.comment.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 d-none">
                    <div class="form-group">
                    {{ form.oep_id }}
                    {% if form.oep_id.help_text %}
                    <small id="oep_id" class="form-text text-muted">{{ form.oep_id.help_text }}</small>
                    {% endif %}
                    {% if form.oep_id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.oep_id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                        <div class="form-group">
                        {{ form.DELETE }}
                        {% if form.id.help_text %}
                        <small id="id_Help" class="form-text text-muted">{{ form.id.help_text }}</small>
                        {% endif %}
                        {% if form.id.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.id.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    {% if counting_note.ongoing %}
                    <div class="btn btn-sm btn-primary" name="{{ forloop.counter0 }}" id="remove_cn_product_btn">Ta bort</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row bg-gray p-2 m-0">
            {% if counting_note.ongoing %}
            <div id="add_cn_product" class="btn btn-sm btn-primary mr-2">Lägg till produkt</div>
            {% endif %}
        </div>
        

       <div class="row bg-light p-2 m-0 mt-3">
            <button type="submit" class="btn btn-sm btn-success mr-2">Spara</button>
            {% if counting_note.ongoing %}
            <div id="mark_as_counted_btn" class="btn btn-sm btn-primary">Markera som Avräknad</div>
            {% else %}
            <div id="mark_as_not_counted_btn" class="btn btn-sm btn-warning">Avmarkera som Avräknad</div>
            {% endif %}
            <a href="{% url 'download_pdf' document_type counting_note.id %}" id="print_gather_note" class="btn btn-sm btn-primary ml-2">Skriv ut Avräkningssedel</a>
       </div>

       {% if errors %}
       <div class="row text-white p-2 m-0 mt-3">
           <div class="col">
               {% for error in errors %}
               <ul class="bg-danger pt-2 pb-2">
                   <li class="">{{ error }}</li>
               </ul>
               {% endfor %}
           </div>
      </div>
       {% endif %}
        
           
      </form>

{% endblock %}


