<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}



<form method="POST">

    {% csrf_token %}
        
    <input id="invoice_id" name="invoice_id" value="{{ invoice.id }}" type="hidden">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Faktura - {{ invoice.id }}</strong></h6>
            <div class="row bg-light p-2 m-0">
                    <div class="col-6 d-none">
                            <div class="form-group">
                                <label>Order:</label>
                                {{ invoice_form.order }}
                                {% if invoice_form.order.help_text %}
                                <small id="namnHelp" class="form-text text-muted">{{ invoice_form.order.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.order.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.order.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Fakturadatum:</label>
                        {{ invoice_form.date }}
                        {% if invoice_form.date.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ invoice_form.date.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Fakturatyp:</label>
                        {{ invoice_form.invoice_type }}
                        {% if invoice_form.invoice_type.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.invoice_type.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.invoice_type.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.invoice_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" d-none>
        <div class="col-sm-12">
            <div class="row bg-light p-2 m-0">
                <div class="col-6">
                    <div class="form-group">
                        <label>skapad:</label>
                        {{ invoice_form.created }}
                        {% if invoice_form.created.help_text %}
                        <small id="namnHelp" class="form-text text-muted">{{ invoice_form.created.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.created.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.created.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>slutförd:</label>
                        {{ invoice_form.completed }}
                        {% if invoice_form.completed.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.completed.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.completed.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.completed.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
            <div class="col-sm-6">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Leveransadress</strong></h6>
                <div class="form-row bg-light p-2 m-0">
                    <div class="form-group col-md-6">
                        <label>Adress1:</label>
                        {{ invoice_form.delivery_address }}
                        {% if invoice_form.delivery_address.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_address.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.delivery_address.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.delivery_address.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Adress2:</label>
                        {{ invoice_form.delivery_address2 }}
                        {% if invoice_form.delivery_address2.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_address2.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.delivery_address2.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.delivery_address2.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row bg-light p-2 m-0">
                    <div class="form-group col-md-6">
                        <label>Postnr:</label>
                        {{ invoice_form.delivery_postnr }}
                        {% if invoice_form.delivery_postnr.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_postnr.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.delivery_postnr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.delivery_postnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                <div class="form-group col-md-4">
                    <label>Ort:</label>
                    {{ invoice_form.delivery_place }}
                    {% if invoice_form.delivery_place.help_text %}
                    <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_place.help_text }}</small>
                    {% endif %}
                    {% if invoice_form.delivery_place.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ invoice_form.delivery_place.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    <label>Land:</label>
                    {{ invoice_form.delivery_country }}
                    {% if invoice_form.delivery_country.help_text %}
                    <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_country.help_text }}</small>
                    {% endif %}
                    {% if invoice_form.delivery_country.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ invoice_form.delivery_country.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Fakturaadress</strong></h6>
                <div class="form-row bg-light p-2 m-0">
                    <div class="form-group col-md-6">
                        <label>Adress1:</label>
                        {{ invoice_form.invoice_address }}
                        {% if invoice_form.invoice_address.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.invoice_address.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.invoice_address.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.invoice_address.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Adress2:</label>
                        {{ invoice_form.invoice_address2 }}
                        {% if invoice_form.invoice_address2.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.invoice_address2.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.invoice_address2.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.invoice_address2.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row bg-light p-2 m-0">
                    <div class="form-group col-md-6">
                        <label>Postnr:</label>
                        {{ invoice_form.invoice_postnr }}
                        {% if invoice_form.invoice_postnr.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.invoice_postnr.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.invoice_postnr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.invoice_postnr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                <div class="form-group col-md-4">
                    <label>Ort:</label>
                    {{ invoice_form.invoice_place }}
                    {% if invoice_form.invoice_place.help_text %}
                    <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.invoice_place.help_text }}</small>
                    {% endif %}
                    {% if invoice_form.invoice_place.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ invoice_form.invoice_place.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group col-md-2">
                    <label>Land:</label>
                    {{ invoice_form.invoice_country }}
                    {% if invoice_form.invoice_country.help_text %}
                    <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.invoice_country.help_text }}</small>
                    {% endif %}
                    {% if invoice_form.invoice_country.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ invoice_form.invoice_country.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>

    <div class="row mt-3">
            <div class="col-sm-6">
                    <h6 class="bg-warning text-black p-2 m-0"><strong>Kundinfo - Kundid: {{ invoice.customer_nr }}</strong></h6>
                    <div class="form-row bg-light p-2 m-0">
                        <div class="form-group col-md-4 d-none">
                                <label>Kundnr:</label>
                                {{ invoice_form.customer_nr }}
                                {% if invoice_form.customer_nr.help_text %}
                                <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.customer_nr.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.customer_nr.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.customer_nr.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        <div class="form-group col-md-4">
                            <label>Ert ordernr:</label>
                            {{ invoice_form.customer_ordernr }}
                            {% if invoice_form.customer_ordernr.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.customer_ordernr.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.customer_ordernr.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.customer_ordernr.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <label>Leveransvillkor:</label>
                            {{ invoice_form.delivery_terms }}
                            {% if invoice_form.delivery_terms.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_terms.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.delivery_terms.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.delivery_terms.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                                <label>Er Referens:</label>
                                {{ invoice_form.customer_referent }}
                                {% if invoice_form.customer_referent.help_text %}
                                <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.customer_referent.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.customer_referent.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.customer_referent.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                    </div>
                    <div class="form-row bg-light p-2 m-0">
                        <div class="form-group col-md-6">
                            <label>leveranstyp:</label>
                            {{ invoice_form.delivery_type }}
                            {% if invoice_form.delivery_type.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_type.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.delivery_type.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.delivery_type.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    <div class="form-group col-md-6">
                        <label>VAT nr:</label>
                        {{ invoice_form.vat_nr }}
                        {% if invoice_form.vat_nr.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.vat_nr.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.vat_nr.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.vat_nr.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                </div>

                <div class="col-sm-6">
                        <h6 class="bg-warning text-black p-2 m-0"><strong>Formteknik</strong></h6>
                        <div class="form-row bg-light p-2 m-0">
                            <div class="form-group col-md-4">
                                <label>Vår referens:</label>
                                {{ invoice_form.our_referent }}
                                {% if invoice_form.our_referent.help_text %}
                                <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_referent.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.our_referent.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.our_referent.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                <label>Betalningsvillkor:</label>
                                {{ invoice_form.payment_terms }}
                                {% if invoice_form.payment_terms.help_text %}
                                <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.payment_terms.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.payment_terms.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.payment_terms.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                    <label>Förfallodatum:</label>
                                    {{ invoice_form.expiry_date }}
                                    {% if invoice_form.expiry_date.help_text %}
                                    <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.expiry_date.help_text }}</small>
                                    {% endif %}
                                    {% if invoice_form.expiry_date.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ invoice_form.expiry_date.errors.as_text }}</strong>
                                    </div>
                                    {% endif %}
                                </div>
                        </div>
                        <div class="form-row bg-light p-2 m-0">
                            <div class="form-group col-md-4">
                                <label>Dröjsmålsränta:</label>
                                {{ invoice_form.delay_interest }}
                                {% if invoice_form.delay_interest.help_text %}
                                <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delay_interest.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.delay_interest.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.delay_interest.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        <div class="form-group col-md-4">
                            <label>Leveransdatum:</label>
                            {{ invoice_form.delivery_date }}
                            {% if invoice_form.delivery_date.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.delivery_date.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.delivery_date.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.delivery_date.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                                <label>Vårt ordernummer:</label>
                                {{ invoice_form.our_order_nr }}
                                {% if invoice_form.our_order_nr.help_text %}
                                <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_order_nr.help_text }}</small>
                                {% endif %}
                                {% if invoice_form.our_order_nr.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ invoice_form.our_order_nr.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
       
        
        <div id="invoice_container" class="mt-4">
            <div id="product_container_type" class="d-none">invoice</div>
            <h6 class="bg-warning text-dark p-2 m-0"><strong>Artiklar</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div id="prodhead_product" class="col-2">
                    <label>Artikel:</label>
                </div>

                <div id="prodhead_price_list" class="col-1">
                    <label>Prislista:</label>
                </div>

                <div id="prodhead_price_type" class="col-1">
                    <label>Typ:</label>
                </div>

                <div id="prodhead_amount" class="col-1">
                    <label>Antal:</label>
                </div>

                <div id="prodhead_days_rented" class="col-1">
                    <label>Dagar uthyrd:</label>
                </div>

                <div id="prodhead_base" class="col-1">
                    <label>Grundhyra:</label>
                </div>

                <div id="prodhead_price" class="col-1">
                    <label>Pris/Hyra (st/dag)</label>
                </div>

                <div id="prodhead_discount" class="col-1">
                    <label>Rabatt</label>
                </div>

                <div id="prodhead_total_price" class="col-1">
                    <label>Totalt pris</label>
                </div>

                <div id="prodhead_account" class="col-1">
                    <label>Konto</label>
                </div>

                <div class="col-1">
                    <label></label>
                </div>

            </div>
            {{ articles_formset.management_form }}
            {% for form in articles_formset %}
            <div class="row bg-light pt-2 pb-0 m-0">
                    <div class="col-2 d-none">
                            <div class="form-group">
                                {{ form.invoice }}
                                {% if form.invoice.help_text %}
                                <small id="invoiceHelp" class="form-text text-muted">{{ form.invoice.help_text }}</small>
                                {% endif %}
                                {% if form.invoice.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.invoice.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                <div class="col-2">
                    <div class="form-group">
                        {{ form.product }}
                        {% if form.product.help_text %}
                        <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                        {% endif %}
                        {% if form.product.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.price_list }}
                    {% if form.price_list.help_text %}
                    <small id="price_listHelp" class="form-text text-muted">{{ form.price_list.help_text }}</small>
                    {% endif %}
                    {% if form.price_list.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_list.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.price_type }}
                    {% if form.price_type.help_text %}
                    <small id="price_typeHelp" class="form-text text-muted">{{ form.price_type.help_text }}</small>
                    {% endif %}
                    {% if form.price_type.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 d-none">
                        <div class="form-group">
                            {{ form.return_is_match }}
                            {% if form.return_is_match.help_text %}
                            <small id="return_is_matchHelp" class="form-text text-muted">{{ form.return_is_match.help_text }}</small>
                            {% endif %}
                            {% if form.return_is_match.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.return_is_match.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
 
                <div class="col-1">
                    <div class="form-group">
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                        <div class="form-group">
                            {{ form.days_rented }}
                            {% if form.days_rented.help_text %}
                            <small id="days_rentedHelp" class="form-text text-muted">{{ form.days_rented.help_text }}</small>
                            {% endif %}
                            {% if form.days_rented.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.days_rented.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="form-group {% if form.base_is_default.initial == False %} border rounded border-danger {% endif %}">
                        {{ form.base }}
                        {% if form.base.help_text %}
                        <small id="baseHelp" class="form-text text-muted">{{ form.base.help_text }}</small>
                        {% endif %}
                        {% if form.base.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.base.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 d-none">
                        <div class="form-group">
                            {{ form.base_is_default }}
                            {% if form.base_is_default.help_text %}
                            <small id="base_is_defaultHelp" class="form-text text-muted">{{ form.base_is_default.help_text }}</small>
                            {% endif %}
                            {% if form.base_is_default.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ form.base_is_default.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="form-group {% if form.price_is_default.initial == False %} border rounded border-danger {% endif %}">
                    {{ form.price }}
                    {% if form.price.help_text %}
                    <small id="priceHelp" class="form-text text-muted">{{ form.price.help_text }}</small>
                    {% endif %}
                    {% if form.price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 d-none">
                        <div class="form-group">
                        {{ form.price_is_default }}
                        {% if form.price_is_default.help_text %}
                        <small id="price_is_defaultHelp" class="form-text text-muted">{{ form.price_is_default.help_text }}</small>
                        {% endif %}
                        {% if form.price_is_default.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.price_is_default.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-1">
                            <div class="form-group {% if form.discount_is_default.initial == False %} border rounded border-danger {% endif %}">
                            {{ form.discount }}
                            {% if form.discount.help_text %}
                            <small id="discountHelp" class="form-text text-muted">{{ form.discount.help_text }}</small>
                            {% endif %}
                            {% if form.discount.errors %}
                            <div class="alert alert-danger">
                                    <strong>{{ form.discount.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                <div class="col-1 d-none">
                        <div class="form-group">
                        {{ form.discount_is_default }}
                        {% if form.discount_is_default.help_text %}
                        <small id="discount_is_defaultHelp" class="form-text text-muted">{{ form.discount_is_default.help_text }}</small>
                        {% endif %}
                        {% if form.discount_is_default.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.discount_is_default.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.total_price }}
                    {% if form.total_price.help_text %}
                    <small id="total_priceHelp" class="form-text text-muted">{{ form.total_price.help_text }}</small>
                    {% endif %}
                    {% if form.total_price.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.total_price.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-group">
                    {{ form.account }}
                    {% if form.account.help_text %}
                    <small id="accountHelp" class="form-text text-muted">{{ form.account.help_text }}</small>
                    {% endif %}
                    {% if form.account.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.account.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-1 d-none">
                        <div class="form-group">
                        {{ form.order_id }}
                        {% if form.order_id.help_text %}
                        <small id="order_idHelp" class="form-text text-muted">{{ form.order_id.help_text }}</small>
                        {% endif %}
                        {% if form.order_id.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.order_id.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col d-none">
                    <div class="form-group">
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="id_Help" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                        <div class="form-group">
                        {{ form.DELETE }}
                        {% if form.id.help_text %}
                        <small id="id_Help" class="form-text text-muted">{{ form.id.help_text }}</small>
                        {% endif %}
                        {% if form.id.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.id.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    <div class="btn btn-sm btn-primary" name="{{ forloop.counter0 }}" id="remove_article">Ta bort</div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="row bg-light p-3 m-0">
            <div class="btn btn-sm btn-primary" id="add_article">Lägg till Artikel</div>
        </div>

 <div class="row mt-3">
        <div class="col-sm-12">
                <h6 class="bg-warning text-black p-2 m-0"><strong>NR</strong></h6>
                <div class="form-row bg-light p-2 m-0">
                    <div class="form-group col-md-6">
                        <label>IBAN:</label>
                        {{ invoice_form.iban }}
                        {% if invoice_form.iban.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.iban.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.iban.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.iban.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>BIC:</label>
                        {{ invoice_form.bic }}
                        {% if invoice_form.bic.help_text %}
                        <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.bic.help_text }}</small>
                        {% endif %}
                        {% if invoice_form.bic.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ invoice_form.bic.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
            </div>
    </div>
</div>


    <div class="row mt-3">
            <div class="col-sm-12">
                    <h6 class="bg-warning text-black p-2 m-0"><strong>Fotnot</strong></h6>
                    <div class="form-row m-0">
                        <div class="form-group bg-light col-md-3 p-2">
                            <label>Adress:</label>
                            {{ invoice_form.our_address }}
                            {% if invoice_form.our_address.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_address.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_address.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_address.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Adress2:</label>
                            {{ invoice_form.our_address2 }}
                            {% if invoice_form.our_address2.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_address2.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_address2.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_address2.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Postnr:</label>
                            {{ invoice_form.our_postnr }}
                            {% if invoice_form.our_postnr.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_postnr.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_postnr.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_postnr.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Ort:</label>
                            {{ invoice_form.our_place }}
                            {% if invoice_form.our_place.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_place.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_place.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_place.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Land:</label>
                            {{ invoice_form.our_country }}
                            {% if invoice_form.our_country.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_country.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_country.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_country.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Hemsida:</label>
                            {{ invoice_form.our_homepage_url }}
                            {% if invoice_form.our_homepage_url.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_homepage_url.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_homepage_url.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_homepage_url.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group bg-gray col-md-3 p-2">
                            <label>Tel:</label>
                            {{ invoice_form.our_tel }}
                            {% if invoice_form.our_tel.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_tel.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_tel.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_tel.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Email:</label>
                            {{ invoice_form.our_email }}
                            {% if invoice_form.our_email.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_email.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_email.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_email.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group bg-light col-md-3 p-2">
                            <label>Plusgiro:</label>
                            {{ invoice_form.plusgiro }}
                            {% if invoice_form.plusgiro.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.plusgiro.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.plusgiro.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.plusgiro.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Bankgiro:</label>
                            {{ invoice_form.bankgiro }}
                            {% if invoice_form.bankgiro.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.bankgiro.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.bankgiro.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.bankgiro.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Säte:</label>
                            {{ invoice_form.seat }}
                            {% if invoice_form.seat.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.seat.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.seat.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.seat.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group bg-gray col-md-3 p-2">
                            <label>Orgnr:</label>
                            {{ invoice_form.our_orgnr }}
                            {% if invoice_form.our_orgnr.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_orgnr.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_orgnr.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_orgnr.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Momsregnr:</label>
                            {{ invoice_form.our_momsregnr }}
                            {% if invoice_form.our_momsregnr.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.our_momsregnr.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.our_momsregnr.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.our_momsregnr.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                            <label>Fskatt:</label>
                            {{ invoice_form.fskatt }}
                            {% if invoice_form.fskatt.help_text %}
                            <small id="orgnrHelp" class="form-text text-muted">{{ invoice_form.fskatt.help_text }}</small>
                            {% endif %}
                            {% if invoice_form.fskatt.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ invoice_form.fskatt.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

    <div class="row ml-0 mr-0 mt-4">
        <div class="col bg-gray p-2 m-0">
            <button type="submit" class="btn btn-success">Spara faktura</button>
        </div>
    </dv>

      </form>


{% endblock %}


