<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        <form method="POST">

        {% csrf_token %}

        
        <input id="gather_note_id" name="gather_note_id" value="{{ gather_note.id }}" type="hidden">
        <div class="row mb-3">
            <div class="col">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Plocksedel - {{ gather_note.id }}</strong></h6>
                <div class="row bg-gray p-2 m-0">
                    <div class="col-12">
                     {% if gather_note.ongoing %}
                    <div id="ongoing_badge" class="badge badge-warning">Pågående</div>
                    {% endif %}
                    {% if gather_note.gathered %}
                    <div id="gathered_badge" class="badge badge-success">Plockad</div>
                    {% endif %}
                    </div>
                </div>
                <div class="row bg-light p-2 m-0">
                    <div class="col-6 p-2 m-0">
                        <p><strong>Order ID:</strong> {% if order_id %}{{ order_id }}{% endif %}</p>
                         <p><strong>Kund:</strong> {% if customer %}{{ customer }}{% endif %}</p>
                         <p><strong>Projekt:</strong> {% if project %}{{ project }}{% endif %}</p>
                         <p><strong>Leveransadress:</strong> {% if work_address %}{{ work_address }}{% endif %},{% if work_address2 %} {{ work_address2 }}{% endif %}</p>
                         <p><strong>Leveransdatum:</strong> {% if delivery_date %}{{ delivery_date|date:"Y-m-d H:i" }}{% endif %}</p>
                         <p><strong>Transporttyp:</strong> {% if transport_type %}{{ transport_type }}{% endif %}</p>
                         <p><strong>Beställare:</strong> {% if person_ordering %}{{ person_ordering }}{% endif %}</p>
                         <p><strong>Beställare tel: </strong> {% if po_tel %}{{ po_tel }}{% endif %}</p>
                    </div>
                     <div class="col-6">
                            <div class="form-group">
                                <label>Övergripande kommentarer:</label>
                                {{ gather_note_form.comments }}
                                {% if gather_note_form.comments.help_text %}
                                <small id="commentsHelp" class="form-text text-muted">{{ gather_note_form.comments.help_text }}</small>
                                {% endif %}
                                {% if gather_note_form.comments.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.comments.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ gather_note_form.ongoing.as_hidden }}
            {{ gather_note_form.gathered.as_hidden }}

            

            {{ gnp_formset.management_form }}
        <div id="gn_products_container">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Produkter</strong></h6>
            <div class="row bg-light p-2 m-0">
                    <div class="col-1">
                        <label>Antal:</label>
                    </div>
                    <div class="col-3">
                        <label>Produkt:</label>
                    </div>
                    <div class="col-2">
                        <label>Typ:</label>
                    </div>
                    <div class="col-2">
                        <label>Position:</label>
                    </div>
                    <div class="col-3">
                        <label>Kommentar</label>
                    </div>
                     <div class="col-1">
                        <label></label>
                    </div>
            </div>
            {% for form in gnp_formset %}
            <div class="row bg-light p-2 m-0">
                <div class="col-1">
                    <div class="form-group">
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                    {{ form.product }}
                    {% if form.product.help_text %}
                    <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                    {% endif %}
                    {% if form.product.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                    {{ form.price_type }}
                    {% if form.price_type.help_text %}
                    <small id="price_type" class="form-text text-muted">{{ form.price_type.help_text }}</small>
                    {% endif %}
                    {% if form.price_type.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.price_type.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
               <div class="col-2">
                    <div class="form-group">
                    {{ form.position }}
                    {% if form.position.help_text %}
                    <small id="positionHelp" class="form-text text-muted">{{ form.position.help_text }}</small>
                    {% endif %}
                    {% if form.position.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.position.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                 <div class="col-2 d-none">
                    <div class="form-group">
                    {{ form.oep_id }}
                    {% if form.oep_id.help_text %}
                    <small id="oep_id" class="form-text text-muted">{{ form.oep_id.help_text }}</small>
                    {% endif %}
                    {% if form.oep_id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.oep_id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                 <div class="col-3">
                    <div class="form-group">
                    {{ form.comment }}
                    {% if form.comment.help_text %}
                    <small id="comment" class="form-text text-muted">{{ form.comment.help_text }}</small>
                    {% endif %}
                    {% if form.comment.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.comment.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                        <div class="form-group">
                        {{ form.DELETE }}
                        {% if form.id.help_text %}
                        <small id="id_Help" class="form-text text-muted">{{ form.id.help_text }}</small>
                        {% endif %}
                        {% if form.id.errors %}
                        <div class="alert alert-danger">
                                <strong>{{ form.id.errors.as_text }}</strong>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-1">
                    {% if gather_note.ongoing %}
                    <div class="btn btn-sm btn-primary" name="{{ forloop.counter0 }}" id="remove_gn_product_btn">Ta bort</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row bg-gray p-2 m-0">
            {% if gather_note.ongoing %}
            <div id="add_gn_product" class="btn btn-sm btn-primary mr-2">Lägg till produkt</div>
            {% endif %}
        </div>
        
    <div class="row bg-light p-2 m-0 mt-3">
        <button type="submit" class="btn btn-sm btn-success mr-2">Spara</button>
        {% if gather_note.ongoing %}
        <div id="mark_as_gathered_btn" class="btn btn-sm btn-primary mr-2">Markera som plockad</div>
        {% else %}
        <div id="mark_as_not_gathered_btn" class="btn btn-sm btn-warning">Avmarkera plockad</div>
        {% endif %}
        <a href="{% url 'download_pdf' document_type gather_note.id %}" id="print_gather_note" class="btn btn-sm btn-primary ml-2">Skriv ut plocksedel</a>
    </div>
    
    {% if errors %}
    <div class="row text-white p-2 m-0 mt-3">
        <div class="col">
            {% for error in errors %}
            <ul class="bg-danger pt-2 pb-2">
                <li class="">{{ error }}</li>
            </ul>
            {% endfor %}
        </div>
   </div>
    {% endif %}

      </form>




{% endblock %}


