<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

        <form method="POST">

        {% csrf_token %}

        <input id="delivery_note_id" name="delivery_note_id" value="{{ delivery_note.id }}" type="hidden">
        <div class="row mb-3">
            <div class="col">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Följesedel - {{ delivery_note.id }}</strong></h6>
                <div class="row bg-light p-2 m-0">
                    <div class="col-6">
                        <p><strong>Order ID:</strong> {% if order_id %}{{ order_id }}{% endif %}</p>
                        <p><strong>Kund:</strong>{% if customer %} {{ customer }}{% endif %}</p>
                        <p><strong>Projekt:</strong> {% if project %}{{project}}{% endif %}</p>
                        <p><strong>Leveransadress:</strong> {% if work_address %}{{ work_address }}{% endif %}, {% if work_address2 %}{{ work_address2 }}{% endif %}</p>
                        <p><strong>Leveransdatum:</strong> {% if delivery_date %}{{ delivery_date|date:"Y-m-d H:i" }}{% endif %}</p>
                        <p><strong>Transporttyp:</strong> {% if transport_type %}{{transport_type }}{% endif %}</p>
                        <p><strong>Beställare:</strong> {% if person_ordering %}{{ person_ordering }}{% endif %}</p>
                        <p><strong>Bestllare tel:</strong> {% if po_tel %}{{ po_tel }}{% endif %}</p>
                   </div>
                    <div class="col-6">
                            <div class="form-group">
                                <label>Övrig info:</label>
                                {{ delivery_note_form.other_info }}
                                {% if delivery_note_form.other_info.help_text %}
                                <small id="other_infoHelp" class="form-text text-muted">{{ delivery_note_form.other_info.help_text }}</small>
                                {% endif %}
                                {% if delivery_note_form.other_info.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.other_info.errors.as_text }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

        <div id="dn_products_container">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Produkter</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col-6">
                    <label>Antal:</label>
                </div>
                <div class="col-6">
                        <label>Produkt</label>
                </div>
            </div>
            {{ dnp_formset.management_form }}
            {% for form in dnp_formset %}
            <div class="row bg-light p-2 m-0">
                <div class="col">
                    <div class="form-group">
                        {{ form.amount }}
                        {% if form.amount.help_text %}
                        <small id="amountHelp" class="form-text text-muted">{{ form.amount.help_text }}</small>
                        {% endif %}
                        {% if form.amount.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.amount.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                    {{ form.product }}
                    {% if form.product.help_text %}
                    <small id="productHelp" class="form-text text-muted">{{ form.product.help_text }}</small>
                    {% endif %}
                    {% if form.product.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.product.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                    
                    {{ form.id }}
                    {% if form.id.help_text %}
                    <small id="idHelp" class="form-text text-muted">{{ form.id.help_text }}</small>
                    {% endif %}
                    {% if form.id.errors %}
                    <div class="alert alert-danger">
                            <strong>{{ form.id.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="row bg-light p-2 m-0 mt-3">
            <button type="submit" class="btn btn-sm btn-success mr-2" name="save" value="save">Spara</button>
            <button type="submit" class="btn btn-sm btn-success" name="update" value="update">Uppdatera</button>
            <a href="{% url 'download_pdf' document_type delivery_note.id %}" id="print_gather_note" class="btn btn-sm btn-primary ml-2">Skriv ut Följesedel</a>
        </div>
        
           

      </form>

        

        




{% endblock %}


