<!DOCTYPE html>


{% extends 'pdf_base.html' %}
{% load staticfiles %}

{% block body_block %}

<h2>Plocksedel - {{ gather_note.id }}</h2>
<table>
    <thead>
      <tr>
        <th colspan="3"><strong>Leverans</strong></th>
        <th colspan="2"><strong>{% if delivery_time %}{{ delivery_time|date:"Y-m-d H:i" }}{% endif %}</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3"><strong>Kund: </strong>{% if customer %}{{ customer }}{% endif %}</td>
        <td colspan="2"><strong>Transporttyp: </strong>{% if transport %}{{ transport }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Pojekt: </strong>{% if project %}{{ project }}{% endif %}</td>
        <td colspan="2"><strong>Vikt: </strong>{% if weight %}{{ weight }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Adress: </strong>{% if work_address %}{{ work_address }}{% endif %} {% if work_address2 %}{{ work_address2 }}{% endif %}, {% if work_postnr %}{{ work_postnr }}{% endif %}, {% if work_place %}{{ work_place }}{% endif %}</td>
      </tr>
      <tr>
          <td colspan="3"><strong>Beställare: </strong>{% if person_ordering %} {{ person_ordering }}{% endif %}</td>
      </tr>
      <tr>
          <td colspan="3"><strong>Beställare Tel: </strong>{% if po_tel %} {{ po_tel }}{% endif %}</td>
      </tr>
      <tr>
        <td colspan="5"> </td>
      </tr>
      <tr>
        <td colspan="5" class="border-bottom" ><strong>Övergripande kommentar: </strong></td>
      </tr>
      <tr>
          <td colspan="5">{{ comments|linebreaks }} </td>
      </tr>
      <thead>
        <tr>
          <th>Antal</th>
          <th colspan="2">Produkt</th>
          <th colspan="2">Kommentar</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td class="product">{{ product.amount }}</td>
          <td class="product" colspan="2">{{ product.product }}</td>
          <td class="product" colspan="2">{% if product.comment %}{{ product.comment }}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </tbody>
  </table>

{% endblock %}
