
{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

    
<h6 class="bg-warning text-black p-2 m-0"><strong>Lager</strong></h6>
<div class="row bg-dark text-white p-2 m-0">
  <div class="col-2">
    Produkt
  </div>
  <div class="col-2">
    Totalt antal
  </div>
  <div class="col-2">
    I lager
  </div>
</div>

  {% for product in all_products %}
  <a href="{% url 'product_details' product.id %}">
<div class="row bg-light border-bottom p-2 m-0">
  <div class="col-2">
    {{ product.name }}
  </div>
  <div class="col-2">
    {{ product.total_nr }}
  </div>
  <div class="col-2">
    {{ product.number_in_stock }}
  </div>
</div>
</a>
  {% endfor %}

  {% endblock %}

