<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

            <div class="row bg-light ml-2 mr-2 p-2">
                <div class="d-flex justify-content-end col">
                    <button id="send_all_invoices" class="btn btn-sm btn-primary">Skicka alla skapade fakturor till Fortnox</button> 
               </div>
            </div>
            
            <div id="loading_wheel" class="row d-none ml-2 mr-2">
                <div class="loader ml-3 mr-2"></div> 
                <div class=""><p class="text-center">Skickar fakturor till Fortnox </p></div>
          </div>

            <div id="invoice_errors" class="row ml-2 mr-2 p-2 bg-danger text-white d-none">

          </div>

<div class="row">
  <div class="col-sm-12">
    <div class="row bg-warning text-black ml-2 mr-2 p-2">
       Ordrar
    </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
            <form method="post">
                    {% csrf_token %}
                 <div class="form-row align-items-center">

                   <div class="col-auto">
                     <div class="form-check mb-2">
                       <input class="form-control-sm form-check-input" name="completed" type="checkbox" id="invoice_is_ongoing">
                       <label class="form-check-label" for="autoSizingCheck">
                         Skickad
                       </label>
                     </div>
                   </div>

                   <div class="col-auto">
                     <div class="form-check mb-2">
                        <input name="invoice_customer" id="invoice_customer" maxlength="128" class="form-control form-control-sm" placeholder="Kund" type="text">
                     </div>
                   </div>
                   
                   <div class="col-auto">
                     <div class="form-check mb-2">
                        <input name="invoice_start_date" id="invoice_start_date" maxlength="128" class="form-control form-control-sm" placeholder="från(datum)" type="text">
                     </div>
                   </div>

                   <div class="col-auto">
                     <div class="form-check mb-2">
                        <input name="invoice_end_date" id="invoice_end_date" maxlength="128" class="form-control form-control-sm" placeholder="till(datum)" type="text">
                     </div>
                   </div>

                   <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary mb-2">Filtrera</button>
                   </div>
                 </div>
               </form>
         </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
      <div class="col-sm-1">
        ID:        
      </div>
      <div class="col-sm-1">
        Fortnox id:        
      </div>
      <div class="col-sm-2">
        Datum
      </div>
      <div class="col-sm-2">
          Kund        
      </div>
      <div class="col-sm-1">
          Order
      </div>
      <div class="col-sm-2">
          Projekt        
      </div>
      <div calss="col-sm-3">
        Status
      </div>
    </div>
   {% for invoice in invoices %}
   <div class="row bg-light text-black border-bottom ml-2 mr-2 p-2">
      <div class="col-sm-1">
            <a href="{% url 'view_invoice' invoice.id %}" class="fill-div">
          {{ invoice.id }}
              </a>
      </div>
      <div class="col-sm-1">
          {{ invoice.fnox_invoice_id }}
      </div>
      <div class="col-sm-2">
            {{ invoice.date|date:"Y-m-d" }}
      </div>
      <div class="col-sm-2">
          {{ invoice.order.customer }}
      </div>
      <div class="col-sm-1">
          {{ invoice.order }}
      </div>
      <div class="col-sm-2">
          {{ invoice.order.project }}
      </div>
        <div class="col-2">
            {% if invoice.created %}
            <div class="badge badge-dark">Skapad</div>
            {% endif %}
            {% if invoice.completed %}
            <div class="badge badge-success">Skickad</div>
            {% endif %}
        </div>
        <div class="col-1">
            {% if invoice.created %}
            <div name="{{ invoice.id }}" class="send_to_fortnox btn btn-sm btn-primary">Skicka till fortnox</div>
            {% endif %}
        </div>

  </div>
    {% endfor %}
</div>


{% endblock %}


