<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row">
  <div class="col-sm-9">
    <div class="row bg-warning text-black ml-2 mr-2 p-2">
       Plocksedlar
    </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
            <form method="post">
                    {% csrf_token %}
                 <div class="form-row align-items-center">
                   <div class="col-auto">
                     <div class="form-check mb-2">
                       <input class="form-control-sm form-check-input" name="gathered" type="checkbox" id="gn_is_gathered">
                       <label class="form-check-label" for="autoSizingCheck">
                         Plockade
                       </label>
                     </div>
                   </div>
                   <div class="col-auto">
                         <div class="form-check mb-2">
                           <input class="form-control-sm form-check-input" name="ongoing" type="checkbox" id="gn_is_ongoing">
                           <label class="form-check-label" for="autoSizingCheck">
                             Pågående
                           </label>
                         </div>
                       </div>
                       <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-primary mb-2">Filtrera</button>
                         </div>
                 </div>

               </form>
         </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
      <div class="col-sm-1">
        ID:        
      </div>
      <div class="col-sm-3">
        Datum
      </div>
      <div class="col-sm-3">
          Kund        
      </div>
      <div class="col-sm-3">
          Projekt        
      </div>
      <div calss="col-sm-2">
        Status
      </div>
    </div>
   {% for gather_note in gather_notes %}
   <a href="{% url 'edit_gather_note' gather_note.id %}" class="fill-div">
   <div class="row bg-light text-black border-bottom ml-2 mr-2 p-2">
      <div class="col-sm-1">
          {{ gather_note.id }}
      </div>
      <div class="col-sm-3">
          {% if gather_note.orderevent.transport.time %}
            {{ gather_note.orderevent.transport.time }}
          {% else %}
            Transport ej bokad
          {% endif %}
      </div>
      <div class="col-sm-3">
          {{ gather_note.orderevent.order.customer.name }}
      </div>
      <div class="col-sm-3">
          {{ gather_note.orderevent.order.project }}
      </div>
      <div class="col-sm-2">
            {% if gather_note.ongoing %}
            <div class="badge badge-primary">Plockning pågår</div>
            {% endif %}
            {% if gather_note.gathered %}
            <div class="badge badge-success">Plockad</div>
            {% endif %}
      </div>
  </div>
  </a>
    {% endfor %}
  </div>
  <div class="col-sm-3">
      <div class="row bg-warning text-black ml-2 mr-2 p-2">
          Plocksedlar utan orderhändelse
      </div>
      <div class="row bg-dark text-white ml-2 mr-2 p-2">
          <div class="col-sm-6">
            ID:        
          </div>
          <div class="col-sm-6">
            Status
          </div>
        </div>
        
       {% for gather_note in no_oe_gather_notes %}
       <div class="row bg-light text-black border-bottom ml-2 mr-2 p-2">
          <div class="col-sm-6">
              {{ gather_note.id }}
          </div>
          <div class="col-sm-6">
                {% if gather_note.ongoing %}
                <div class="badge badge-primary">Plockning pågår</div>
                {% endif %}
                {% if gather_note.gathered %}
                <div class="badge badge-success">Plockad</div>
                {% endif %}
          </div>
      </div>
        {% endfor %}
  </div>
</div>


{% endblock %}


