<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row">
  <div class="col-sm-12">
    <div class="row bg-warning text-black ml-2 mr-2 p-2">
       Ordrar
    </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
            <form method="post">
                    {% csrf_token %}
                 <div class="form-row align-items-center">
                   <div class="col-auto">
                     <div class="form-check mb-2">
                       <input class="form-control-sm form-check-input" name="ongoing" type="checkbox" id="order_is_ongoing">
                       <label class="form-check-label" for="autoSizingCheck">
                         Pågående
                       </label>
                     </div>
                   </div>
                   <div class="col-auto">
                         <div class="form-check mb-2">
                           <input class="form-control-sm form-check-input" name="waiting" type="checkbox" id="order_is_waiting">
                           <label class="form-check-label" for="autoSizingCheck">
                             Avvaktande
                           </label>
                         </div>
                       </div>
                   <div class="col-auto">
                         <div class="form-check mb-2">
                           <input class="form-control-sm form-check-input" name="incomplete" type="checkbox" id="order_is_incomplete">
                           <label class="form-check-label" for="autoSizingCheck">
                             Ofullständig orderhändelse
                           </label>
                         </div>
                       </div>
                       <div class="col-auto">
                            <button type="submit" class="btn btn-sm btn-primary mb-2">Filtrera</button>
                         </div>
                 </div>

               </form>
         </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
      <div class="col-sm-1">
        ID:        
      </div>
      <div class="col-sm-2">
        Datum
      </div>
      <div class="col-sm-2">
          Kund        
      </div>
      <div class="col-sm-2">
          Projekt        
      </div>
      <div calss="col-sm-5">
        Status
      </div>
    </div>
   {% for order in orders %}
   <a href="{% url 'order_info' order.id %}" class="fill-div">
   <div class="row bg-light text-black border-bottom ml-2 mr-2 p-2">
      <div class="col-sm-1">
          {{ order.id }}
      </div>
      <div class="col-sm-2">
            {{ order.starting_time }}
      </div>
      <div class="col-sm-2">
          {{ order.customer.name }}
      </div>
      <div class="col-sm-2">
          {{ order.project }}
      </div>
      <div class="col-sm-5">
            {% if order.ongoing %}
            <div class="badge badge-primary">Pågående</div>
            {% else %}
            <div class="badge badge-dark">Avslutad</div>
            {% endif %}
            {% if order.waiting %}
            <div class="badge badge-warning">Waiting</div>
            {% endif %}
            {% if order.incomplete_order_event %}
            <div class="badge badge-success">Ofullständig orderhändelse</div>
            {% endif %}
      </div>
  </div>
  </a>
    {% endfor %}
</div>


{% endblock %}


