<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row">
  <div class="col-sm-12">
    <div class="row bg-warning text-black ml-2 mr-2 p-2">
       Orderhändelser
    </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
            <form method="post">
                    {% csrf_token %}
                <div class="form-row align-items-center p-2">
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.customer }}
                        {% if form.customer.help_text %}
                        <small id="customer" class="form-text text-muted">{{ form.customer.help_text }}</small>
                        {% endif %}
                        {% if form.customer.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.customer.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.start_date }}
                        {% if form.start_date.help_text %}
                        <small id="start_date" class="form-text text-muted">{{ form.start_date.help_text }}</small>
                        {% endif %}
                        {% if form.start_date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.start_date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.end_date }}
                        {% if form.end_date.help_text %}
                        <small id="end_date" class="form-text text-muted">{{ form.end_date.help_text }}</small>
                        {% endif %}
                        {% if form.end_date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.end_date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                   <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary mb-2">Filtrera</button>
                   </div>
                </div>
                <div class="form-row align-items-center p-2">
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.delivery_event }}
                        {{ form.delivery_event.label }}
                        {% if form.delivery_event.help_text %}
                        <small id="delivery_event" class="form-text text-muted">{{ form.delivery_event.help_text }}</small>
                        {% endif %}
                        {% if form.delivery_event.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.delivery_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.return_event }}
                        {{ form.return_event.label }}
                        {% if form.return_event.help_text %}
                        <small id="return_event" class="form-text text-muted">{{ form.return_event.help_text }}</small>
                        {% endif %}
                        {% if form.return_event.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.return_event.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.ongoing }}
                        {{ form.ongoing.label }}
                        {% if form.ongoing.help_text %}
                        <small id="ongoing" class="form-text text-muted">{{ form.ongoing.help_text }}</small>
                        {% endif %}
                        {% if form.ongoing.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.ongoing.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.completed }}
                        {{ form.completed.label }}
                        {% if form.completed.help_text %}
                        <small id="completed" class="form-text text-muted">{{ form.completed.help_text }}</small>
                        {% endif %}
                        {% if form.completed.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.completed.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.has_rent_date }}
                        {{ form.has_rent_date.label }}
                        {% if form.has_rent_date.help_text %}
                        <small id="has_rent_date" class="form-text text-muted">{{ form.has_rent_date.help_text }}</small>
                        {% endif %}
                        {% if form.has_rent_date.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.has_rent_date.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.shipped }}
                        {{ form.shipped.label }}
                        {% if form.shipped.help_text %}
                        <small id="shipped" class="form-text text-muted">{{ form.shipped.help_text }}</small>
                        {% endif %}
                        {% if form.shipped.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.shipped.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.price_on_shipping }}
                        {{ form.price_on_shipping.label }}
                        {% if form.price_on_shipping.help_text %}
                        <small id="price_on_shipping" class="form-text text-muted">{{ form.price_on_shipping.help_text }}</small>
                        {% endif %}
                        {% if form.price_on_shipping.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.price_on_shipping.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.gather_note_done }}
                        {{ form.gather_note_done.label }}
                        {% if form.gather_note_done.help_text %}
                        <small id="gather_note_done" class="form-text text-muted">{{ form.gather_note_done.help_text }}</small>
                        {% endif %}
                        {% if form.gather_note_done.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.gather_note_done.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.delivery_note_done }}
                        {{ form.delivery_note_done.label }}
                        {% if form.delivery_note_done.help_text %}
                        <small id="delivery_note_done" class="form-text text-muted">{{ form.delivery_note_done.help_text }}</small>
                        {% endif %}
                        {% if form.delivery_note_done.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.delivery_note_done.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.counted }}
                        {{ form.counted.label }}
                        {% if form.counted.help_text %}
                        <small id="counted" class="form-text text-muted">{{ form.counted.help_text }}</small>
                        {% endif %}
                        {% if form.counted.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.counted.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.products_invoiceable }}
                        {{ form.products_invoiceable.label }}
                        {% if form.products_invoiceable.help_text %}
                        <small id="products_invoiceable" class="form-text text-muted">{{ form.products_invoiceable.help_text }}</small>
                        {% endif %}
                        {% if form.products_invoiceable.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.products_invoiceable.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.products_invoiced }}
                        {{ form.products_invoiced.label }}
                        {% if form.products_invoiced.help_text %}
                        <small id="products_invoiced" class="form-text text-muted">{{ form.products_invoiced.help_text }}</small>
                        {% endif %}
                        {% if form.products_invoiced.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.products_invoiced.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.shipping_invoiceable }}
                        {{ form.shipping_invoiceable.label }}
                        {% if form.shipping_invoiceable.help_text %}
                        <small id="shipping_invoiceable" class="form-text text-muted">{{ form.shipping_invoiceable.help_text }}</small>
                        {% endif %}
                        {% if form.shipping_invoiceable.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.shipping_invoiceable.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.shipping_invoiced }}
                        {{ form.shipping_invoiced.label }}
                        {% if form.shipping_invoiced.help_text %}
                        <small id="shipping_invoiced" class="form-text text-muted">{{ form.shipping_invoiced.help_text }}</small>
                        {% endif %}
                        {% if form.shipping_invoiced.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.shipping_invoiced.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                 
               </form>
         </div>


            <div class="row ml-2 mr-2 p-2 bg-dark text-white">
              <div class="col-sm-1">
                  <strong class="text-gray-dark">ID</strong>
              </div>
              <div class="col-sm-1">
                  <strong class="text-gray-dark">Händelse:</strong>
              </div>
                <div class="col-sm-1">
                  <strong class="text-gray-dark">Datum:</strong>
              </div>
                <div class="col-sm-1">
                  <strong class="text-gray-dark">Order ID</strong>
              </div>
                <div class="col-sm-1">
                  <strong class="text-gray-dark">Projekt</strong>
              </div>
                <div class="col-sm-7">
                  <strong class="text-gray-dark">Status:</strong>
              </div>
             </div>
            {% if order_events %}
            {% for order_event in order_events %}
            
            {% if order_event.delivery_event %}
            <a href="{% url 'edit_order_event' order_event.id %}" class="fill-div">
                <div class="row ml-2 mr-2 p-2 bg-delivery">
                    <div class="col-sm-1">
                        {{ order_event.id }} 
                        {% if order_event.start_event %}
                            <span class="badge badge-warning">Starthändelse</span>
                        {% endif %}
                    </div> 
                    <div class="col-sm-1">
                            <div style="font-size:1.2em; color:#007bff">
                                    <i class="fas fas fa-sign-out-alt"></i>
                                    Leverans
                            </div>
                    </div>
                <div class="col-sm-1">
                        {% if order_event.rent_start_date %}
                          {{ order_event.rent_start_date }}
                        {% else %}
                        Inget datum ännu
                        {% endif %}
                </div>
                <div class="col-sm-1">
                {{ order_event.order.id }}
                </div>
                <div class="col-sm-1">
                {{order_event.order.project }}
                </div>
                <div class="col-sm-7">
                {% if order_event.ongoing %}
                        <span class="badge badge-primary">Pågående</span>
                    {% if order_event.gather_note.ongoing %}
                        <span class="badge badge-warning">Plockning pågår</span>
                    {% endif %}
                    {% if order_event.gather_note.gathered%}
                        {% if not order_event.gather_note_done %}
                        <span class="badge badge-primary">Plockad</span>
                        {% endif %}
                    {% endif %}
                    {% if order_event.gather_note_done %}
                        <span class="badge badge-success">Plocksedel klar</span>
                    {% else %}
                        <span class="badge badge-danger">Plocksedel ej klar</span>
                    {% endif %}
                    
                    {% if order_event.price_on_shipping %}
                        <span class="badge badge-success">Fraktpris inlagt</span>
                    {% else %}
                        <span class="badge badge-danger">Fraktpris ej inlagt</span>
                    {% endif %}
                    {% if order_event.shipped %}
                        <span class="badge badge-success">Levererad</span>
                    {% else %}
                        <span class="badge badge-danger">Ej Levererad</span>
                    {% endif %}
                    {% if order_event.delivery_note_done %}
                        <span class="badge badge-success">Följesedel klar</span>
                    {% else %}
                        <span class="badge badge-danger">Följesedel ej klar</span>
                    {% endif %}
                    {% if order_event.has_rent_date %}
                        <span class="badge badge-success">Uthyrningsdatum inlagt</span>
                    {% else %}
                        <span class="badge badge-danger">Uthyrningsdatum ej inlagt</span>
                    {% endif %}
                    {% if order_event.products_invoiceable %}
                        <span class="badge badge-warning">Produkter fakturerbara</span>
                    {% endif %}
                    {% if order_event.shipping_invoiceable %}
                        <span class="badge badge-warning">Frakt fakturerbar</span>
                    {% endif %}
                    {% if order_event.products_invoiced %}
                        <span class="badge badge-success">Produkter fakturerade</span>
                    {% else %}
                        <span class="badge badge-danger">Produkter ej fakturerade</span>
                    {% endif %}
                    {% if order_event.shipping_invoiced %}
                        <span class="badge badge-success">Frakt fakturerad</span>
                    {% else %}
                        <span class="badge badge-danger">Frakt ej fakturerad</span>
                    {% endif %}

                {% else %}
                        <span class="badge badge-dark">Avslutad</span>
                {% endif %}

                    {% endif %}
                    </div>
                </div>
            </a>


            <a href="{% url 'edit_order_event' order_event.id %}" class="fill-div">
                    {% if order_event.return_event %}
                    <div class="row ml-1 mr-1 p-2 bg-return">
                        <div class="col-sm-1">
                            {{ order_event.id }}
                            {% if order_event.end_event %}
                                <div class="badge badge-warning">Sluthändelse</div>
                            {% endif %}
                        </div>
                        <div class="col-sm-1">
                            <div style="font-size:1.2em; color:#ffc107">
                                <i class="fas fas fa-sign-in-alt"></i>
                                Retur
                            </div>
                        </div>
                          <div class="col-sm-1">
                        {% if order_event.rent_stop_date %}
                            {{ order_event.rent_stop_date }}
                        {% else %}
                        Inget datum ännu
                        {% endif %}
                        </div>
                        <div class="col-sm-1">
                        {{ order_event.order.id }}
                        </div>
                        <div class="col-sm-1">
                        {{order_event.order.project }}
                        </div>
                          <div class="col-sm-7">
                        {% if order_event.ongoing %}
                            <div class="badge badge-primary">Pågående</div>
                            {% if order_event.price_on_shipping %}
                            <div class="badge badge-success">Fraktpris inlagt</div>
                            {% else %}
                            <div class="badge badge-danger">Fraktpris ej inlagt</div>
                            {% endif %}
                            {% if order_event.counting_note.ongoing %}
                            <div class="badge badge-warning">Avräkning pågår</div>
                            {% endif %}
                            {% if order_event.counting_note.counted and not order_event.counted %}
                            <div class="badge badge-primary">Avräkning gjord</div>
                            {% endif %}
                            {% if order_event.counted %}
                            <div class="badge badge-success">Avräknad</div>
                            {% endif %}
                            {% if order_event.has_rent_date %}
                            <div class="badge badge-success">Uthyrningsdatum inlagt</div>
                            {% else %}
                            <div class="badge badge-danger">Uthyrningsdatum ej inlagt</div>
                            {% endif %}
                            {% if order_event.products_invoiceable %}
                            <div class="badge badge-warning">Produkter fakturerbara</div>
                            {% endif %}
                            {% if order_event.shipping_invoiceable %}
                            <div class="badge badge-warning">Frakt fakturerbar</div>
                            {% endif %}
                            {% if order_event.products_invoiced %}
                            <div class="badge badge-success">Produkter fakturerade</div>
                            {% else %}
                            <div class="badge badge-danger">Produkter ej fakturerade</div>
                            {% endif %}
                            {% if order_event.shipping_invoiced %}
                            <div class="badge badge-success">Frakt fakturerad</div>
                            {% else %}
                            <div class="badge badge-danger">Frakt ej fakturerad</div>
                            {% endif %}
                        {% else %}
                            <div class="badge badge-dark">Avslutad</div>
                        {% endif %}
                            {% endif %}
                        </div>
            </div>
        </a>


            {% endfor %}
            {% else %}
            <div class="row ml-2 mr-2">
              inga ordrar
            </div>
            {% endif %}


{% endblock %}


