{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

        <h2>Logga in</h2>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
  <div class="form-group">
    <label>Användarnamn</label>
    <input type="text" class="form-control" name="username"
            placeholder="Skriv användarnamn">
  </div>
  <div class="form-group">
    <label>Lösenord</label>
    <input type="password" class="form-control" name="password" placeholder="Lösenord">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}