<!DOCTYPE html>

{% extends 'order_info_base.html' %}
{% load staticfiles %}

{% block order_block %}

            <input id="order_id" name="order_id" value="{{ order.id }}" type="hidden">

            <div class="row bg-light ml-1 mr-1 p-1">
                <div class="col-6">
                <button id="add_return_btn" class="btn btn-sm btn-warning m-1">Lägg till Retur</button>
                <button id="add_delivery_btn" class="btn btn-sm btn-primary m-1">Lägg till Leverans</button>
                {% if start_event %}
                <a href="{% url 'create_start_invoice' start_event_id %}" id="create_start_invoice" class="btn btn-sm btn-info m-1 m-1">Skapa uppstartsfaktura</a>
                {% endif %}
                {% if end_event %}
                <a href="{% url 'create_end_invoice' order.id %}" id="create_end_invoice" class="btn btn-sm btn-info m-1 m-1">Skapa slutfaktura</a>
                {% endif %}
                </div>
                {% if order.waiting %}
                <div class="col-6">
                <a href="{% url 'manual_period_invoice' order.id %}" id="manual_period_invoice" class="float-right btn btn-sm btn-info m-1 m-1">Skapa manuell periodfaktura</a>
                {% endif %}
                </div>
                <!-- <button id="add_rest_btn" class="btn btn-dark m-1">Lägg till Rest</button> -->
            </div>

            <div class="row mt-2  ml-1 mr-1 p-2 bg-dark text-white">
              <div class="col-sm-1">
                  <strong class="text-gray-dark">#</strong>
              </div>
              <div class="col-sm-1">
                  <strong class="text-gray-dark">Händelse:</strong>
              </div>
                <div class="col-sm-3">
                  <strong class="text-gray-dark">Datum:</strong>
              </div>
                <div class="col-sm-7">
                  <strong class="text-gray-dark">Status:</strong>
              </div>
             </div>
            {% if order_events %}
            {% for order_event in order_events %}
            
            {% if order_event.delivery_event %}
            <a href="{% url 'edit_order_event' order_event.id %}" class="fill-div">
                <div class="row ml-1 mr-1 p-2 bg-delivery">
                    <div class="col-sm-1">
                        {{ forloop.revcounter }} 
                        {% if order_event.start_event %}
                            <span class="badge badge-warning">Starthändelse</span>
                        {% endif %}
                    </div> 
                    <div class="col-sm-1">
                            <div style="font-size:1.2em; color:#007bff">
                                    <i class="fas fas fa-sign-out-alt"></i>
                                    Leverans
                            </div>
                    </div>
                <div class="col-sm-2">
                        {% if order_event.rent_start_date %}
                          {{ order_event.rent_start_date }}
                        {% else %}
                        Inget datum ännu
                        {% endif %}
                </div>
                <div class="col-sm-8">
                {% if order_event.ongoing %}
                        <span class="badge badge-primary">Pågående</span>
                    {% if order_event.gather_note.ongoing %}
                        <span class="badge badge-warning">Plockning pågår</span>
                    {% endif %}
                    {% if order_event.gather_note.gathered%}
                        {% if not order_event.gather_note_done %}
                        <span class="badge badge-primary">Plockad</span>
                        {% endif %}
                    {% endif %}
                    {% if order_event.gather_note_done %}
                        <span class="badge badge-success">Plocksedel klar</span>
                    {% else %}
                        <span class="badge badge-danger">Plocksedel ej klar</span>
                    {% endif %}
                    
                    {% if order_event.price_on_shipping %}
                        <span class="badge badge-success">Fraktpris inlagt</span>
                    {% else %}
                        <span class="badge badge-danger">Fraktpris ej inlagt</span>
                    {% endif %}
                    {% if order_event.shipped %}
                        <span class="badge badge-success">Levererad</span>
                    {% else %}
                        <span class="badge badge-danger">Ej Levererad</span>
                    {% endif %}
                    {% if order_event.delivery_note_done %}
                        <span class="badge badge-success">Följesedel klar</span>
                    {% else %}
                        <span class="badge badge-danger">Följesedel ej klar</span>
                    {% endif %}
                    {% if order_event.has_rent_date %}
                        <span class="badge badge-success">Uthyrningsdatum inlagt</span>
                    {% else %}
                        <span class="badge badge-danger">Uthyrningsdatum ej inlagt</span>
                    {% endif %}
                    {% if order_event.products_invoiceable %}
                        <span class="badge badge-warning">Produkter fakturerbara</span>
                    {% endif %}
                    {% if order_event.shipping_invoiceable %}
                        <span class="badge badge-warning">Frakt fakturerbar</span>
                    {% endif %}
                    {% if order_event.products_invoiced %}
                        <span class="badge badge-success">Produkter fakturerade</span>
                    {% else %}
                        <span class="badge badge-danger">Produkter ej fakturerade</span>
                    {% endif %}
                    {% if order_event.shipping_invoiced %}
                        <span class="badge badge-success">Frakt fakturerad</span>
                    {% else %}
                        <span class="badge badge-danger">Frakt ej fakturerad</span>
                    {% endif %}

                {% else %}
                        <span class="badge badge-dark">Avslutad</span>
                {% endif %}

                    {% endif %}
                    </div>
                </div>
            </a>


            <a href="{% url 'edit_order_event' order_event.id %}" class="fill-div">
                    {% if order_event.return_event %}
                    <div class="row ml-1 mr-1 p-2 bg-return">
                        <div class="col-sm-1">
                            {{ forloop.revcounter }}
                            {% if order_event.end_event %}
                                <div class="badge badge-warning">Sluthändelse</div>
                            {% endif %} 
                        </div>
                        <div class="col-sm-1">
                            <div style="font-size:1.2em; color:#ffc107">
                                <i class="fas fas fa-sign-in-alt"></i>
                                Retur
                            </div>
                        </div>
                          <div class="col-sm-2">
                        {% if order_event.rent_stop_date %}
                            {{ order_event.rent_stop_date }}
                        {% else %}
                        Inget datum ännu
                        {% endif %}
                        </div>
                          <div class="col-sm-8">
                        {% if order_event.ongoing %}
                            <div class="badge badge-primary">Pågående</div>
                            {% if order_event.price_on_shipping %}
                            <div class="badge badge-success">Fraktpris inlagt</div>
                            {% else %}
                            <div class="badge badge-danger">Fraktpris ej inlagt</div>
                            {% endif %}
                            {% if order_event.counting_note.ongoing %}
                            <div class="badge badge-warning">Avräkning pågår</div>
                            {% endif %}
                            {% if order_event.counting_note.counted and not order_event.counted %}
                            <div class="badge badge-primary">Avräkning gjord</div>
                            {% endif %}
                            {% if order_event.counted %}
                            <div class="badge badge-success">Avräknad</div>
                            {% endif %}
                            {% if order_event.has_rent_date %}
                            <div class="badge badge-success">Uthyrningsdatum inlagt</div>
                            {% else %}
                            <div class="badge badge-danger">Uthyrningsdatum ej inlagt</div>
                            {% endif %}
                            {% if order_event.products_invoiceable %}
                            <div class="badge badge-warning">Produkter fakturerbara</div>
                            {% endif %}
                            {% if order_event.shipping_invoiceable %}
                            <div class="badge badge-warning">Frakt fakturerbar</div>
                            {% endif %}
                            {% if order_event.products_invoiced %}
                            <div class="badge badge-success">Produkter fakturerade</div>
                            {% else %}
                            <div class="badge badge-danger">Produkter ej fakturerade</div>
                            {% endif %}
                            {% if order_event.shipping_invoiced %}
                            <div class="badge badge-success">Frakt fakturerad</div>
                            {% else %}
                            <div class="badge badge-danger">Frakt ej fakturerad</div>
                            {% endif %}
                        {% else %}
                            <div class="badge badge-dark">Avslutad</div>
                        {% endif %}
                            {% endif %}
                        </div>
            </div>
        </a>

            {% endfor %}
            {% else %}
            <div class="row ml-2 mr-2">
              inga ordrar
            </div>
            {% endif %}

{% endblock %}


