<!DOCTYPE html>

{% extends 'order_info_base.html' %}
{% load staticfiles %}

{% block order_block %}


<div class="table-responsive">
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        {% for header in table_headers %}
        <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for date in table_dates %}
        <td style="white-space:nowrap;">{{ date|date:"Y-m-d" }}</td>
        {% endfor %}
      </tr>
      <tr>
          <td><strong>Hyrda</strong></td>
      </tr>
      {% for row in rented_table %}
        <tr>
          {% for record in row %}
          <td style="white-space:nowrap;">{{ record }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      <tr>
          <td><strong>Vidareuthyrda</strong></td>
      </tr>
      {% for row in rent_forward_table %}
      <tr>
          {% for record in row %}
             <td>{{ record }}</td>
          {% endfor %}
      </tr>
      {% endfor %}


      <tr>
          <td><strong>Sålda</strong></td>
      </tr>
      {% for row in sold_table %}
      <tr>
          {% for record in row %}
             <td>{{ record }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
      <tr>
          <td><strong>Sålda förbrukningsmaterial</strong></td>
      </tr>
      {% for row in sold_consumption_table %}
      <tr>
          {% for record in row %}
             <td>{{ record }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
      <tr>
          <td><strong>Ersatta</strong></td>
      </tr>
      {% for row in replacement_table %}
      <tr>
          {% for record in row %}
             <td>{{ record }}</td>
          {% endfor %}
      </tr>
      {% endfor %}



    </tbody>
  </table>
</div>



          <div class="table-responsive col-sm-8 p-0 mt-3">
              <table class="table table-striped table-bordered table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th>Uthyrda nu</th>
                    <th>Antal</th>
                    <th>Prislista</th>
                    <th>Pristyp</th>
                    <th>Grundavgift</th>
                    <th>Hyra</th>
                    <th>Rabatt</th>
                    <th>Orderhändelse</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in renting_now %}
                  <tr>
                    <td style="white-space:nowrap;">{{ product }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.price_list }}</td>
                    <td>{{ product.price_type }}</td>
                    <td>{{ product.base }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.discount }}</td>
                    <td>{{ product.order_event }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="table-responsive col-sm-8 p-0 mt-3">
                <table class="table table-striped table-bordered table-sm">
                  <thead class="thead-dark">
                    <tr>
                      <th></th>
                      <th>Varningar</th>
                      <th>Antal</th>
                      <th>Prislista</th>
                      <th>Typ</th>
                      <th>Grundavgift</th>
                      <th>Hyra</th>
                      <th>Rabatt</th>
                      <th>Orderhändelse</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in warnings %}
                    <tr>
                      <td style="white-space:nowrap;">{{ product }}</td>
                      <td>Retur ej match med uthyrd produkt</td>
                      <td>{{ product.amount }}</td>
                      <td>{{ product.price_list }}</td>
                      <td>{{ product.price_type }}</td>
                      <td>{{ product.base }}</td>
                      <td>{{ product.price }}</td>
                      <td>{{ product.discount }}</td>
                      <td>{{ product.order_event }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

          {% endblock %}
