<!DOCTYPE html>


{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}


<nav class="navbar navbar-expand-lg navbar-light bg-dark p-0">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if navbar == 'order_info' %} active bg-warning {% endif %}">
        <a class="nav-link text-white {% if navbar == 'order_info' %} text-dark {% endif %}" href="{% url 'order_info' order.id %}">Orderinformation</a>
      </li>
      <li class="nav-item {% if navbar == 'order_events' %} active bg-warning {% endif %}">
        <a class="nav-link text-white {% if navbar == 'order_events' %}text-dark {% endif %}" href="{% url 'order_events' order.id %}">Orderhändelser</a>
      </li>
      <li class="nav-item {% if navbar == 'overview' %} active bg-warning {% endif %}">
        <a class="nav-link text-white {% if navbar == 'overview' %}text-dark {% endif %}" href="{% url 'order_overview' order.id %}">Översikt</a>
      </li>
      <li class="nav-item {% if navbar == 'invoices' %} active bg-warning {% endif %}">
        <a class="nav-link text-white {% if navbar == 'invoices' %}text-dark {% endif %}" href="{% url 'order_invoices' order.id %}">Fakturor</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mb-3">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-black">
        <li class="nav-item p-2">
          <strong>ID:</strong> {{ order.id }}
        </li>
        <li class="nav-item p-2">
          <strong>Kund:</strong> <a href="{% url 'customer_info' order.customer.id %}">{{ order.customer }}</a>
        </li>
        <li class="nav-item p-2">
          <strong>Projekt:</strong> {{ order.project }}
        </li>
        <li class="nav-item p-2">
            <strong>Status:</strong>
            {% if order.incomplete_order_event %}
            <span class="badge badge-danger">Ofullständig orderhändelse</span>
            {% endif %}
            {% if order.waiting %}
            <span class="badge badge-warning">Avvaktar</span>
            {% endif %}
            {% if order.ongoing %}
            <span class="badge badge-success">Pågående</span>
            {% endif %}
            {% if order.completed %}
            <span class="badge badge-dark">Avslutad</span>
            {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  {% if order.waiting %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mb-3">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-black">
          <li class="nav-item p-2">
              <p><strong>Avvaktande orsak:</strong></p>
              {{ order.waiting_reason }}
          </li>
        </ul>
      </div>
    </nav>
{% else %}
{% endif %}


            {% block order_block %}
            {% endblock %}
 

{% endblock %}


