<!DOCTYPE html>

{% extends 'order_info_base.html' %}
{% load staticfiles %}

{% block order_block %}

              

{% if order %}

<div class="row">

        <div class="col-sm-4 p-3">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Adress</strong></h6>
            <div class="col bg-light p-3">
              <p><strong>Arbetsplats: </strong>{{ order.work_address }}</p>
              <p><strong>Arbetsplats2: </strong>{{ order.work_address2 }}</p>
              <p><strong>Postnr: </strong>{{ order.work_postnr }}</p>
              <p><strong>Ort: </strong>{{ order.work_place }}</p>
            </div>
        </div>

        <div class="col-sm-4 p-3">
                <h6 class="text-black bg-warning p-2 mb-0"><strong>Kontaktinfo</strong></h6>
                    <div class="col bg-light p-3">
                      <p><strong>Vår handläggare: </strong>{{ order.our_referent }}</p>
                      <p><strong>Beställd av: </strong>{{ order.person_ordering }}</p>
                      <p><strong>Tel beställare: </strong>{{ order.po_tel }}</p>
                    </div>
                </div>
        
                <div class="col-sm-4 p-3">
                <h6 class="text-black bg-warning p-2 mb-0"><strong>Datum</strong></h6>
                    <div class="col bg-light p-3">
                      <p><strong>Starttid: </strong>{{ order.starting_time }}</p>
                      <p><strong>Fakturerad till: </strong>{{ order.invoiced_to|date:"Y-m-d" }}</p>
                      <p><strong>Fakturatrigger: </strong>{{ last_trigger_date }}</p>
                      <p><strong>Estimerad sluttid: </strong>{{ order.completion_time }}</p>
                    </div>
             </div>

</div>

<div class="row">

        <div class="col-4 my-3 p-3">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Övrig info</strong></h6>
            <div class="col bg-light p-3">
              <p>{{ order.additional_info }}</p>
            </div>
        </div>

        <div class="col-4 my-3 p-3">
        <h6 class="text-black bg-warning p-2 mb-0"><strong>Prisinfo</strong></h6>
            <div class="col bg-light p-3">
                <p><strong>Prislista:  </strong>{{order.order_price_list}}</p>
                <p><strong>Rabatt:  </strong>{{order.order_discount}}</p>
            </div>
        </div>
</div>
</div>

<div class="row bg-light ml-1 mr-1 p-1">
        <a class="btn btn-sm btn-success" href="{% url 'edit_order' order.id %}">Redigera</a>
</div>

{% else %}
no customer
{% endif %}

{% endblock %}


