<!DOCTYPE html>

{% extends 'order_info_base.html' %}
{% load staticfiles %}

{% block order_block %}

{% csrf_token %}

            <input id="order_id" name="order_id" value="{{ order.id }}" type="hidden">
        <div class="row">
            <div class="col-6">
            <div class="row bg-dark ml-1 mr-1 p-2 text-white">
                <h6>Fakturor</h6>
            </div>
            <div class="row  ml-1 mr-1 p-2 bg-gray text-white">
              <div class="col-sm-2">
                  <strong class="text-dark">Faktura id:</strong>
              </div>
              <div class="col-sm-2">
                  <strong class="text-dark">Fortnox fakturanummer:</strong>
              </div>
              <div class="col-sm-2">
                  <strong class="text-dark">Typ:</strong>
              </div>
              <div class="col-sm-2">
                  <strong class="text-dark">Datum:</strong>
              </div>
              <div class="col-sm-2">
                  <strong class="text-dark">Status:</strong>
              </div>
              <div class="col-sm-2">
              </div>
             </div>
            {% if invoices %}
            {% for invoice in invoices %}
            <div class="row ml-1 mr-1 p-2 bg-light text-black">
                <div class="col-2">
            <a href="{% url 'view_invoice' invoice.id %}" class="fill-div">
                    {{ invoice.id }}
            </a>
                </div>
                <div class="col-2">
                    {% if invoice.fnox_invoice_id %}
                    {{ invoice.fnox_invoice_id }}
                    {% endif %}
                </div>
                <div class="col-2">
                    {{ invoice.invoice_type }}
                </div>
                <div class="col-2">
                    {{ invoice.date }}
                </div>
                <div class="col-2">
                    {% if invoice.created %}
                    <div class="badge badge-dark">Skapad</div>
                    {% endif %}
                    {% if invoice.completed %}
                    <div class="badge badge-success">Skickad</div>
                    {% endif %}
                </div>
                <div class="col-2">
                    {% if invoice.created %}
                    <div name="{{ invoice.id }}" class="send_to_fortnox btn btn-sm btn-primary">Skicka till fortnox</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="row ml-2 mr-2">
              inga fakturor
            </div>
            {% endif %}

            </div>

            <div class="col-6">
            <div class="row bg-dark ml-1 mr-1 p-2 text-white">
                <h6>Fakturerbara frakter</h6>
            </div>
            <div class="row ml-1 mr-1 p-2 bg-gray text-dark">
              <div class="col-sm-3">
                  <strong class="text-gray-dark">Händelse:</strong>
              </div>
              <div class="col-sm-3">
                  <strong class="text-gray-dark">Datum:</strong>
              </div>
               <div class="col-sm-6">
                  <strong class="text-gray-dark"></strong>
              </div>
            </div>
            {% if invoiceable_shippings %}
            {% for order_event in invoiceable_shippings %}
                {% if order_event.delivery_event %}
                <div class="row ml-1 mr-1 p-2 bg-delivery">
                    <div class="col-1">
                        {{ order_event.id }}
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'edit_order_event' order_event.id %}" class="fill-div">
                            <div style="font-size:1.2em; color:#007bff">
                                    <i class="fas fas fa-sign-out-alt"></i>
                                    Leverans
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        {{ order_event.created_date }}
                    </div>

                    <div class="col-3">
                        <input id="invoice_nr_{{ order_event.id }}" type="text" class="form-control form-control-sm mb-2" id="inlineFormInput" placeholder="Faktura nr">
                    </div>
                    <div class="col-2">
                        <div name="{{ order_event.id}}" class="put_on_invoice btn btn-sm btn-primary mb-2">Lägg på Faktura</div>
                    </div>
                </div>
                 {% endif %}

                {% if order_event.return_event %}
                    <div class="row ml-1 mr-1 p-2 bg-return">
                        <div class="col-1">
                                    {{ order_event.id }}
                        </div>
                        <div class="col-sm-3">
                        <a href="{% url 'edit_order_event' order_event.id %}" class="fill-div">
                                <div style="font-size:1.2em; color:#ffc107">
                                        <i class="fas fas fa-sign-in-alt"></i>
                                        Retur
                                    </div>
                        </a>
                        </div>
                    <div class="col-sm-3">
                        {{ order_event.created_date }}
                    </div>
                    <div class="col-3">
                            <input id="invoice_nr_{{ order_event.id }}" type="text" class="form-control form-control-sm mb-2" id="inlineFormInput" placeholder="Faktura nr">
                        </div>
                        <div class="col-2">
                            <div name="{{ order_event.id}}" class="put_on_invoice btn btn-sm btn-primary mb-2">Lägg på Faktura</div>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}
            {% else %}
            <div class="row ml-2 mr-2">
              inga orderhändelser
            </div>
            {% endif %}


        </div>

{% endblock %}


