<!doctype html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/print.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/dashboard.css' %}" rel="stylesheet">

     <!-- jquery UI stylesheet -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">
    <!-- jquery UI stylesheet -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui-timepicker-addon.css' %}">
    
    <!-- for jquery UI autocomplete -->
    <script src="{% static '/js/jquery-ui/external/jquery/jquery.js' %}"></script>

  </head>

  <body class="">

        {% block body_block %}
        {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static '/js/jquery-ui/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>

  </body>
</html>
