
{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<h6 class="bg-warning text-black p-2 m-0"><strong>{{ product }}</strong></h6>
<div class="row bg-dark text-white p-2 m-0">
  <div class="col-2">
    Produkttyp
  </div>
  <div class="col-2">
    Grupp
  </div>
  <div class="col-2">
    Enhet
  </div>
  <div class="col-2">
    Vikt
  </div>
  <div class="col-2">
    Totalt antal
  </div>
  <div class="col-2">
    I lager
  </div>
</div>

<div class="row bg-light border-bottom p-2 m-0">
  <div class="col-2">
    {{ product.product_type }}
  </div>
  <div class="col-2">
    {{ product.group }}
  </div>
  <div class="col-2">
    {{ product.unit }}
  </div>
  <div class="col-2">
    {{ product.weight }}
  </div>
  <div class="col-2">
    {{ product.total_nr }}
  </div>
  <div class="col-2">
    {{ product.number_in_stock }}
  </div>
</div>

<h6 class="bg-warning text-black p-2 m-0 mt-3"><strong>Lager</strong></h6>
<div class="row bg-dark text-white p-2 m-0">
  <div class="col-2">
    Antal
  </div>
  <div class="col-2">
    Lagerplats
  </div>
</div>
{% for item in inventory %}
<div class="row bg-light border-bottom p-2 m-0">
  <div class="col-2">
    {{ item.amount }}
  </div>
  <div class="col-2">
    {{ item.position }}
  </div>
</div>
{% endfor %}


<h6 class="bg-warning text-black p-2 m-0 mt-3"><strong>Priser</strong></h6>
<div class="row bg-dark text-white p-2 m-0">
  <div class="col-2">
    Prislista
  </div>
  <div class="col-2">
    Grundavgift
  </div>
  <div class="col-2">
    Hyra
  </div>
  <div class="col-2">
    Försäljningspris
  </div>
  <div class="col-2">
    Inköpspris
  </div>
  <div class="col-2">
    Efterarbete
  </div>
</div>

  {% for price in prices %}
<div class="row bg-light border-bottom p-2 m-0">
  <div class="col-2">
    {{ price.pricelist }}
  </div>
  <div class="col-2">
    {{ price.base}}
  </div>
  <div class="col-2">
    {{ price.rent }}
  </div>
  <div class="col-2">
    {{ price.selling }}
  </div>
  <div class="col-2">
    {{ price.buying }}
  </div>
  <div class="col-2">
    {{ price.post_work }}
  </div>
</div>
  {% endfor %}

<h6 class="bg-warning text-black p-2 m-0 mt-3"><strong>Återförsäljare</strong></h6>
<div class="row bg-dark text-white p-2 m-0">
  <div class="col-2">
    Namn
  </div>
</div>

  {% for suplier in suppliers %}
<div class="row bg-light border-bottom p-2 m-0">
  <div class="col-2">
    {{ product.supplier }}
  </div>
</div>
  {% endfor %}

{% endblock %}

