<!DOCTYPE html>


{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

              <div class="row bg-light text-black p-2 mb-2 mt-2">
                 <button id="add_return_receipt_btn" class="btn btn-sm btn-primary">Lägg till Mottagningskvittens</button>
              </div>

         <div class="row">
            <div class="col-sm-12">
              <div class="row bg-warning text-black p-2">
                 Kunder
              </div>
              <div class="row bg-dark text-black p-2">

                  <nav aria-label="Page navigation">
                      {% if return_receipts.has_other_pages %}
                      <ul class="pagination m-0">
                        {% if return_receipts.has_previous %}
                          <li class="page-item"><a class="page-link text-dark" href="?page={{ return_receipts.previous_page_number }}">Previous</a></li>
                        {% else %}
                          <li class="disabled page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in return_receipts.paginator.page_range %}
                          {% if return_receipts.number == i %}
                            <li class="active page-item border-warning"><a class="page-link bg-warning text-dark border-warning" href="#">{{ i }}</a></li>
                          {% else %}
                            <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if return_receipts.has_next %}
                          <li class="page-item"><a class="page-link text-dark" href="?page={{ return_receipts.next_page_number }}">Next</a></li>
                        {% else %}
                          <li class="disabled page-item"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                  </nav>

              </div>
              <div class="row bg-dark text-white p-2">
                <div class="col-sm-1">
                  ID:        
                </div>
                <div class="col-sm-2">
                  Datum och tid
                </div>
                <div class="col-sm-3">
                    Kund
                </div>
                <div class="col-sm-3">
                    Projekt
                </div>
              </div>
             {% for return_receipt in return_receipts %}
             <a href="{% url 'edit_return_receipt' return_receipt.id %}" class="fill-div">
             <div class="row bg-light text-black border-bottom p-2">
                <div class="col-sm-1">
                    {{ return_receipt.id }}
                </div>
                <div class="col-sm-2">
                      {{ return_receipt.datetime }}
                </div>
                <div class="col-sm-3">
                    {{ return_receipt.customer }}
                </div>
                <div class="col-sm-3">
                    {{ return_receipt.project }}
                </div>
              </div>
            </a>
              {% endfor %}
          </div>
        </div>


{% endblock %}