<!DOCTYPE html>


{% extends 'pdf_base.html' %}
{% load staticfiles %}

{% block body_block %}

<h2>Mottagningskvittens</h2>
<table>
    <thead>
      <tr>
          <th colspan="3" class="bg-return"><strong>Id: {{ return_receipt.id }}</strong></th>
          <th colspan="2" class="bg-return"><strong>Datum: </strong>{{ date_and_time|date:"Y-m-d H:i" }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3"><strong>Kund: </strong>
            {{ customer }}
        </td>
        <td colspan="2"><strong></strong></td>
      </tr>
      <tr>
        <td colspan="3"><strong>Projekt: </strong>{{ project }}</td>
        <td colspan="2"><strong></strong></td>
      </tr>
      <tr>
        <td colspan="5" class="border-bottom" ><strong>Info: </strong></td>
      </tr>
      <tr>
          <td colspan="5">{{ info|linebreaks }} </td>
      </tr>
      <tr>
          <td colspan="5" class="border-top"></td>
      </tr>
      <tr>
          <td colspan="5">____________________________</td>
      </tr>
      <tr>
          <td colspan="5">Underskrift</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
