<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row">
    <div class="col-sm-12">
      <div class="row bg-warning text-black ml-2 mr-2 p-2">
         Ordrar
      </div>
      <div class="row bg-dark text-white ml-2 mr-2 p-2">
        <div class="col-sm-1">
          ID:        
        </div>
        <div class="col-sm-2">
          Datum
        </div>
        <div class="col-sm-2">
            Kund        
        </div>
        <div class="col-sm-2">
            Projekt        
        </div>
        <div calss="col-sm-5">
          Status
        </div>
      </div>
     {% for order in order_results %}
     <a href="{% url 'order_info' order.id %}" class="fill-div">
     <div class="row bg-light text-black border-bottom ml-2 mr-2 p-2">
        <div class="col-sm-1">
            {{ order.id }}
        </div>
        <div class="col-sm-2">
              {{ order.starting_time }}
        </div>
        <div class="col-sm-2">
            {{ order.customer.name }}
        </div>
        <div class="col-sm-2">
            {{ order.project }}
        </div>
        <div class="col-sm-5">
              {% if order.ongoing %}
              <div class="badge badge-primary">Pågående</div>
              {% else %}
              <div class="badge badge-dark">Avslutad</div>
              {% endif %}
              {% if order.waiting %}
              <div class="badge badge-warning">Waiting</div>
              {% endif %}
              {% if order.incomplete_order_event %}
              <div class="badge badge-success">Ofullständig orderhändelse</div>
              {% endif %}
        </div>
    </div>
    </a>
      {% endfor %}
  </div>

</div>

  <div class="row mt-3">
      <div class="col-sm-12">
        <div class="row bg-warning text-black ml-2 mr-2 p-2">
           Kunder
        </div>
        <div class="row bg-dark text-white ml-2 mr-2 p-2">
          <div class="col-sm-1">
            ID:        
          </div>
          <div class="col-sm-2">
              Kund        
          </div>
          <div class="col-sm-2">
              Orgnr   
          </div>
          <div calss="col-sm-5">
            Status
          </div>
        </div>
       {% for customer in customer_results %}
       <a href="{% url 'customer_info' customer.id %}" class="fill-div">
       <div class="row bg-light text-black border-bottom ml-2 mr-2 p-2">
          <div class="col-sm-1">
              {{ customer.id }}
          </div>
          <div class="col-sm-2">
                {{ customer.name }}
          </div>
          <div class="col-sm-2">
              {{ customer.orgnr }}
          </div>
          <div class="col-sm-2">
              more
          </div>
      </div>
      </a>
        {% endfor %}
    </div>
  </div>
    
  
  
  {% endblock %}


