<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="row">
  <div class="col-sm-12">
    <div class="row bg-warning text-black ml-2 mr-2 p-2">
       Transportrapport
    </div>
    <div class="row bg-dark text-white ml-2 mr-2 p-2">
            <form method="post">
                    {% csrf_token %}
                <div class="form-row align-items-center p-2">
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.date_from }}
                        {% if form.date_from.help_text %}
                        <small id="date_from" class="form-text text-muted">{{ form.date_from.help_text }}</small>
                        {% endif %}
                        {% if form.date_from.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.date_from.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check mb-2">
                        {{ form.date_to }}
                        {% if form.date_to.help_text %}
                        <small id="date_to" class="form-text text-muted">{{ form.date_to.help_text }}</small>
                        {% endif %}
                        {% if form.date_to.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.date_to.errors.as_text }}</strong>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                   <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-primary mb-2">Generera</button>
                   </div>
                </div>
               </form>
         </div>


            {% if report_data %}
            {% for line in report_data %}
                <div class="row ml-2 mr-2 p-2 bg-light border-bottom text-black">
                    {% for item in line %}
                    {% if forloop.counter0 == 1 %}
                            {{ item|date:"Y-m-d H:i" }} |
                    {% else %}
                            {{ item }} |
                    {% endif %}
                    {% endfor %}
                 </div>
            {% endfor %}
            {% endif %}


{% endblock %}


