<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}




    <div class="row">
        <div class="col-sm-12">
            <h6 class="bg-warning text-black p-2 m-0"><strong>Faktura - {{ invoice.id }}</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <p>Fakturatyp: {{ invoice.invoice_type }}</p>
                    <p>Order: {{ invoice.order }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ order.additional_info }}" class="fas fa-info-circle"></i>
                    </span>
                    </p>
                    <p>Fakturadatum: {{ invoice.date }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
            <div class="col-sm-6">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Leveransadress</strong></h6>
                <div class="form-row bg-light p-2 m-0">
                    <div class="col">
                        <p>Adress: {{ invoice.delivery_address }}</p>
                        <p>Adress2: {{ invoice.delivery_address2 }}</p>
                        <p>Postnr: {{ invoice.delivery_postnr }}</p>
                        <p>Ort: {{ invoice.delivery_place }}</p>
                        <p>Land: {{ invoice.delivery_country }}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h6 class="bg-warning text-black p-2 m-0"><strong>Fakturaadress</strong></h6>
                <div class="form-row bg-light p-2 m-0">
                   <div class="form-group col-md-6">
                    <p>Adress: {{ invoice.invoice_address }}</p>
                    <p>Adress2: {{ invoice.invoice_address2 }}</p>
                    <p>Postnr: {{ invoice.invoice_postnr }}</p>
                    <p>Ort: {{ invoice.invoice_place }}</p>
                    <p>Land: {{ invoice.invoice_country }}</p>
                    </div>
                </div>
            </div>
        </div>

    <div class="row mt-3">
            <div class="col-sm-6">
                    <h6 class="bg-warning text-black p-2 m-0"><strong>Kundinfo - Kundid: {{ invoice.customer_nr }}</strong></h6>
                    <div class="form-row bg-light p-2 m-0">
                        <div class="form-group col">
                            <p>Kundnr: {{ invoice.customer_nr }}</p>
                            <p>Ordernr: {{ invoice.customer_ordernr }}</p>
                            <p>Leveransvillkor: {{ invoice.delivery_terms }}</p>
                            <p>Er referens: {{ invoice.customer_referent }}</p>
                            <p>Leveranstyp: {{ invoice.delivery_type }}</p>
                            <p>VAT nr: {{ invoice.vat_nr }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                        <h6 class="bg-warning text-black p-2 m-0"><strong>Formteknik</strong></h6>
                        <div class="form-row bg-light p-2 m-0">
                            <div class="form-group col-md-4">
                                <p>Vår referens: {{ invoice.our_referent }}</p>
                                <p>Betalningsvillkor: {{ invoice.payment_terms }}</p>
                                <p>Förfallodatum: {{ invoice.expiry_date }}</p>
                                <p>Dröjsmålsränta: {{ invoice.delay_interest }}</p>
                                <p>Leveransdatum: {{ invoice.delivery_date }}</p>
                                <p>Vårt ordernummer: {{ invoice.our_order_nr }}</p>
                           </div>
                        </div>
                    </div>
            </div>
       
        
        <div id="product_container" class="mt-4">
            <h6 class="bg-warning text-dark p-2 m-0"><strong>Artiklar</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div id="prodhead_product" class="col-2">
                    Artikel:
                </div>

                <div id="prodhead_price_list" class="col-1">
                    Prislista:
                </div>

                <div id="prodhead_price_type" class="col-1">
                     Typ: 
                </div>

                <div id="prodhead_amount" class="col-1">
                     Antal: 
                </div>

                <div id="prodhead_days_rented" class="col-1">
                     Dagar uthyrd: 
                </div>

                <div id="prodhead_base" class="col-1">
                     Grundpris: 
                </div>

                <div id="prodhead_price" class="col-1">
                     Pris/Hyra 
                </div>

                <div id="prodhead_discount" class="col-1">
                     rabatt 
                </div>

                <div id="prodhead_total_price" class="col-1">
                     Totalt pris 
                </div>

                <div id="prodhead_account" class="col-1">
                     Konto 
                </div>
                <div id="prodhead_order_id" class="col-1">
                     Händelse-id
                </div>

            </div>

            {% for article in articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1 {% if article.discount_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {% if article.order_id %}
                    {{ article.order_id }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                    {% elif "Hyrperiod" in article.product %}
                    {% else %}
                    förskott
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% for article in rented_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1 {% if article.discount_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {% if article.order_id %}
                    {{ article.order_id }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                    {% else %}
                    förskott
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% for article in rented_forward_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1 {% if article.discount_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {% if article.order_id %}
                    {{ article.order_id }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                    {% else %}
                    förskott
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% for article in sold_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1 {% if article.discount_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {{ article.order_id }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                </div>
            </div>
            {% endfor %}

            {% for article in compensation_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1 {% if article.discount_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {{ article.order_id }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                </div>
            </div>
            {% endfor %}

            {% for article in sold_consumption_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1 {% if article.discount_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {{ article.order_id }}
                    <span style="font-size:1.0em; color:#228ae6">
                        <i data-toggle="tooltip" data-placement="top" title="{{ article.oe_info }}" class="fas fa-info-circle"></i>
                    </span>
                </div>
            </div>
            {% endfor %}

            {% for article in shipping_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {{ article.order_id }}
                </div>

            </div>
            {% endfor %}

            {% for article in other_articles %}
            <div class="row bg-light p-2 m-0">
                <div class="col-2">
                    {{ article.product }}
                </div>
                <div class="col-1">
                    {{ article.price_list }}
                </div>
                <div class="col-1">
                    {{ article.price_type }}
                </div>
                <div class="col-1">
                    {{ article.amount }}
                </div>
                <div class="col-1">
                    {{ article.days_rented }}
                </div>
                <div class="col-1 {% if article.base_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.base }}
                </div>
                <div class="col-1 {% if article.price_is_default == False %} border rounded border-danger {% endif %}">
                    {{ article.price }}
                </div>
                <div class="col-1">
                    {{ article.discount }}
                </div>
                <div class="col-1 total_price">
                    {{ article.total_price }}
                </div>
                <div class="col-1">
                    {{ article.account }}
                </div>
                <div class="col-1">
                    {{ article.order_id }}
                </div>

            </div>
            {% endfor %}

            <div class="row p-2 m-0 bg-gray">
                    <div class="col-4">
                        Exkl. Moms
                    </div>
                    <div class="col-4">
                        Moms
                    </div>
                    <div class="col-4">
                        Att betala
                    </div>
            </div>
              <div class="row p-2 m-0 bg-light">
                    <div id="invoice_no_moms" class="col-4">
                        {{ excl_moms }}
                    </div>
                    <div id="invoice_moms" class="col-4">
                        {{ moms }}
                    </div>
                    <div id="invoice_pay"class="col-4">
                        {{ pay }}
                    </div>
            </div>
      </div>

    </div>


        
 <div class="row mt-3">
        <div class="col-sm-12">
            <h6 class="bg-warning text-black p-2 m-0"><strong>NR</strong></h6>
            <div class="row bg-light p-2 m-0">
                <div class="col-md-6">
                    IBAN: {{ invoice.iban }}
                </div>
                <div class="col-md-6">
                    BIC: {{ invoice.bic }}
                </div>
            </div>
       </div>
</div>


    <div class="row mt-3">
            <div class="col-sm-12">
                    <h6 class="bg-warning text-black p-2 m-0"><strong>Fotnot</strong></h6>
                    <div class="row m-0">
                        <div class="bg-light col-md-3 p-2">
                            <p>Adress: {{ invice.our_address }}</p>
                            <p>Adress: {{ invoice.our_address2 }}</p>
                            <p>Postnr: {{ invoice.our_postnr }}</p>
                            <p>Ort: {{ invoice.our_place }}</p>
                            <p>Land: {{ invoice.our_country }}</p>
                            <p>Hemsida: {{ invoice.our_homepage_url }}</p>
                        </div>
                        <div class="bg-gray col-md-3 p-2">
                            <p>Tel: {{ invoice.our_tel }}</p>
                            <p>Emial: {{ invoice.our_email }}</p>
                        </div>
                        <div class="bg-light col-md-3 p-2">
                            <p>Plusgiro: {{ invoice.plusgiro }}</p>
                            <p>Bankgiro: {{ invoice.bankgiro }}</p>
                            <p>Säte: {{ invoice.seat }}</p>
                       </div>
                        <div class="bg-gray col-md-3 p-2">
                            <p>Orgnr: {{ invoice.our_orgnr }}</p>
                            <p>Momsreg nr: {{ invoice.our_momsregnr }}</p>
                            <p>F-skatt: {{ invoice.fskatt }}</p>
                       </div>
                    </div>
                </div>
            </div>

<div class="row mt-3">
        <div class="col-sm-12">
            <div class="row bg-light p-2 m-0">
                <div class="col-md-6">
                    <a href="{% url 'edit_invoice' invoice.id %}" class="btn btn-sm btn-primary">Redigera faktura</a>
                </div>
            </div>
        </div>
</div>
            




{% endblock %}


